{% extends 'base.html.twig' %}

{% block title %}Nodo "{{ nodo.nome }}"
{% endblock %}


{% block body %}

    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="row clearfix">

        <div class="col-md-12 column">
                    <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>I nodi marinari</h1>
        </div>

        </div>
</div>


            <div class="row clearfix">
        <div id="content-articolo" class="col-md-12 column">
            <h1>{{ nodo.nome }}</h1>

        </div>
</div>
            <div class="row clearfix">
            <div class="col-md-12 column">
                 <p> {{ nodo.descrizione }}</p>
            </div>
</div>
            <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
                </div>
            <div class="row clearfix">
            <div class="col-md-12 column">

?VQ=HD720&showinfo=0
<div class="embed-responsive embed-responsive-4by3">
    <iframe  class="embed-responsive-item" src="{{ nodo.video }}"></iframe>
</div>
</div>
        </div>
</div>

           <div class="col-md-4 column">

            <div class="content" >
              <h4 class="title other-text" style="border-top: 1px solid rgb(153, 153, 153);">Altri nodi</h4>



               {% for nodo in nodi %}
    <a href="/nodi/{{ nodo.permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ nodo.nome }}</h4>

                <p>{{ nodo.descrizione|raw|slice(0,140)}}...</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>



{% endfor %}



            </div>

            <a href="/archivio/categoria-news/perini-navi-accusata-di-evasione-fiscale-per-112-milioni-15">
        <div class="arrow_box">
                            <div class="foto">
                    <div style="height: 230px;background-image: url('/images/articoli/Perini-Navi-accusata-di-evasione-fiscale-per-112-milioni-1432805549.jpeg');" class="center-cropped">
                    </div>
                </div>
                        <div class="content">
                <h4>Perini Navi accusata di evasione fiscale per 112 milioni</h4>

                <p>La Perini Navi, vanto della cantieristica navale italiana, produce nei
 suoi cantieri di Viareggio alcune tra le più belle (e costose) barche a
 vela che navigano nei mari del mondo.</p>
            </div>

        </div>

    </a>


        </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>

{% endblock %}



