{% extends 'base.html.twig' %}

{% block title %}{{ categoria.nome }}{% endblock %}

{% block body %}


<div class="row clearfix">
    <div class="col-md-12 column">
    <div class="title">
                {{ categoria.nome }} - Ultime News
            </div>
        </div>
    </div>


  <div class="row clearfix">
        <div class="col-md-8 column">

            <div class="article main-article">

                <div class="content"
                     style="background-image: url(/images/articoli/{{ articoli[0].immagine }})">
                    <div class="category">
                            <a href="/archivio/{{ articoli[0].categoria.permalink }}"><span style="background:{{ articoli[0].categoria.getColore() }}" >{{ articoli[0].categoria.nome|capitalize }}</span> <span
                                        style="background:{{ articoli[0].categoria.getColore() }}"       >+</span></a>
                        </div>
                    <div class="content-title">
                        <a href="/archivio/{{ categoria.permalink }}/{{ articoli[0].permalink }}"><h3>{{ articoli[0].titolo }}</h3></a>

                        <div class="divisore"></div>
                        <div class="subtitle">
                            {{ articoli[0].sottotitolo }}...
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-4 column">
            <div class="content">

                {% if articoli[1] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[1].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[1].titolo }}</h4>

                <p>{{ articoli[1].sottotitolo }}...</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}
                {% if articoli[2] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[2].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[2].titolo }}</h4>

                <p>{{ articoli[2].sottotitolo }}...</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}
                {% if articoli[3] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[3].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[3].titolo }}</h4>

                <p>{{ articoli[3].sottotitolo }}...</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}


            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="divisore"></div>
        </div>
    </div>

    <div class="row clearfix">

        {% for articolo in articoli|slice(4) %}
    <div class="col-md-4 column">
        <div class="box-sub hvr-glow">
            <div class="foto">
                <img style="width:100%"
                     src="/images/articoli/{{ articoli[0].immagine }})">

                <div class="category">
                    <a href="/archivio/{{ categoria.permalink }}"><span
                                class="background-arancione">{{ categoria.nome|capitalize }}</span> <span
                                class="background-arancione">+</span></a>
                </div>
            </div>
            <h4>{{ articolo.titolo }}</h4>
            <p>{{ articolo.sottotitolo }}...</p>
        </div>

    </div>


    {% if loop.index is divisibleby(3) %}
        </div>

        <div class="row clearfix">
    {% endif %}

{% endfor %}


    </div>

<div class="row clearfix">


        {% for categoriaRel in categorie %}
    <div class="col-md-3 column">

        <div class="category" style="margin:15px">
            <a href="/archivio/{{ categoriaRel.permalink }}"><span style="background:{{ categoriaRel.getColore() }}" >{{ categoriaRel.nome|capitalize }}</span> <span
                        style="background:{{ categoriaRel.getColore() }}"       >+</span></a>
        </div>


    </div>


    {% if loop.index is divisibleby(4) %}

        </div>

        <div class="row clearfix">
    {% endif %}

{% endfor %}



        </div>
    </div>


        <!-- fine contenuto -->

    </div>

{% endblock %}



