{% extends 'base.html.twig' %}

{% block title %}{{ categoria.nome }}{% endblock %}



{% block javascripts %}



{% endblock %}

{% block body %}

  <div class="row clearfix">
        <div class="col-md-8 column">
<div class="row clearfix">
    <div class="col-md-12 column">
    <div class="title">
               <h1 class="category-title">{{ categoria.nome }} - Ultime news</h1>
            </div>
        </div>
    </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
            <div class="article main-article">

                <div class="content"
                     style="background-image: url(/images/articoli/{{ articoli[0].immagine }})">

                    <div class="content-title">
                        <a href="/archivio/{{ categoria.permalink }}/{{ articoli[0].permalink }}"><h3>{{ articoli[0].titolo }}</h3></a>

                        <div class="divisore"></div>
                        <div class="subtitle">
                            {{ articoli[0].sottotitolo|raw }}
                        </div>
                    </div>

                </div>

            </div>
                    </div></div>
        </div>
        <div class="col-md-4 column">

            <div class="content" >
              <h4 class="title">Ultime News</h4>



                {% if articoli[1] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[1].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[1].titolo }}</h4>

                <p>{{ articoli[1].sottotitolo|raw }}</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}
                {% if articoli[2] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[2].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[2].titolo }}</h4>

                <p>{{ articoli[2].sottotitolo|raw }}</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}
                {% if articoli[3] is defined %}
    <a href="/archivio/{{ categoria.permalink }}/{{ articoli[3].permalink }}">
        <div class="latest-news">
            <div class="content">
                <h4>{{ articoli[3].titolo }}</h4>

                <p>{{ articoli[3].sottotitolo|raw }}</p>
            </div>
            <div class="arrow">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </div>
        </div>
    </a>
{% endif %}


            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="divisore-big"></div>
        </div>
    </div>
    <div class="row clearfix">
        {% for articolo in articoli|slice(4) %}
  <div class="col-md-4 column">
        <a href="/archivio/{{ articolo.categoria.permalink }}/{{ articolo.permalink }}">
            <div class="box-sub hvr-glow">
                <div class="foto">
                    <div class="center-cropped"
                         style="background-image: url('/images/articoli/{{ articolo.immagine }}');">
                    </div>
                </div>
                <h4>{{ articolo.titolo }}</h4>
                {{ articolo.sottotitolo|raw }}
            </div>
        </a>

    </div>

{% endfor %}
</div>



        <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="divisore-big"></div>
        </div>
    </div>
    </div>


        <!-- fine contenuto -->

    </div>

{% endblock %}



