{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}


{% block title %}
    Profilo
{% endblock %}




{% block javascripts %}
<script language="javascript">
    $(document).ready(function () {
        $('.notifiche-scambio').click(function () {
            $('#modalScambio').modal('show');
        });


        $('.notifiche-imbarco').click(function () {
            $('#modalImbarco').modal('show');
        });

        {% set annuncioImbarco=null %}

        {% for annunciImbarcoA in user.annuncioImbarco %}

        {% if annunciImbarcoA.tipoAnnuncio=="CERCO" %}
        {% set annuncioImbarco=annunciImbarcoA %}
        {% endif %}
        {% endfor %}


        {% if annuncioImbarco is defined %}




        $('#appbundle_annuncioimbarco_luogo2').val("{{ annuncioImbarco.luogo }}");
        $('#appbundle_annuncioimbarco_luogo2').selectpicker('refresh');


        $('#appbundle_annuncioimbarco_tipo2').val("{{ annuncioImbarco.tipo }}");
        $('#appbundle_annuncioimbarco_tipo2').selectpicker('refresh');

        $('#appbundle_annuncioimbarco_ruoloRichiesto2').val("{{ annuncioImbarco.ruoloRichiesto }}");
        $('#appbundle_annuncioimbarco_ruoloRichiesto2').selectpicker('refresh');

        $('#appbundle_annuncioimbarco_costo2').val("{{ annuncioImbarco.costo }}");
        $('#appbundle_annuncioimbarco_costo2').selectpicker('refresh');

        {% endif %}


        {% if user.annuncioScambioPosto|length > 0 %}

        $.get( "/porti/select_list", function( data ) {
            $('#appbundle_annuncioscambioposto_luogoAttuale2').html( data );
            $('#appbundle_annuncioscambioposto_luogoAttuale2').selectpicker('refresh');
            $('#appbundle_annuncioscambioposto_luogoAttuale2').val({{ user.annuncioScambioPosto[0].luogoAttuale.id }});
            $('#appbundle_annuncioscambioposto_luogoAttuale2').selectpicker('refresh');
        });




        $('#appbundle_annuncioscambioposto_luogoRicercato2').val("{{ user.annuncioScambioPosto[0].luogoRicercato }}");
        $('#appbundle_annuncioscambioposto_luogoRicercato2').selectpicker('refresh');

        $('#appbundle_annuncioscambioposto_tipo2').val("{{ user.annuncioScambioPosto[0].tipo }}");
        $('#appbundle_annuncioscambioposto_tipo2').selectpicker('refresh');


        {% endif %}


    });
</script>
{% endblock %}





    {% block body %}

        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="category">
                    <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                        aria-hidden="true"></span> </a>

                    <h1>Il tuo profilo</h1>
                </div>
            </div>

        </div>

        <!-- contenuto -->

        <div class="row clearfix" id="content-articolo" style="">
            <div class="col-md-8 column">


                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>Benvenuto {{ user.username }}</h2>

                        <div class="divisore-big"></div>

                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
                            <h3>Il tuo profilo</h3>

                            <div class="divisore-big"></div>
                            <p style="margin-top:20px">

                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    {% if app.user.profilePicturePath == "" and app.user.getFacebookId() !="" %}
                                        <div class="row clearfix">
                                            <div class="col-md-6 column">
                                                <img class="avatar-small" style="width: 100px;margin:0"
                                                     src="http://graph.facebook.com/{{ app.user.getFacebookId() }}/picture?type=large"
                                                     alt="avatar"/>
                                            </div>
                                            <div class="col-md-6 column" style="font-size: 12px">
                                                <i class="fa fa-facebook-square"></i> Collegato con Facebook
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row clearfix">
                                            <div class="col-md-12 column">
                                                {% if app.user.profilePicturePath != "" %}
                                                    <img class="avatar-small" style="width: 100px;margin:0"
                                                         src="/uploads/utenti/profilo/{{ app.user.profilePicturePath }}"
                                                         alt="avatar"/>
                                                {% else %}
                                                    <img class="avatar-small" style="width: 100px;margin:0"
                                                         src="/uploads/utenti/profilo/default_avatar.png"
                                                         alt="avatar"/>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12 column">
                                                <a href="/secure_area/connect/facebook">
                                                    <button class="btn btn-primary btn-lg hvr-glow"
                                                            style="margin-top:10px"><i
                                                                class="fa fa-facebook-square"></i> Collega il tuo
                                                        profilo
                                                    </button>
                                                </a></div>

                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 column">
                                    <strong>Nome:</strong> {{ user.nome }}<br>
                                    <strong>Cognome:</strong> {{ user.cognome }}<br>
                                    <strong>Username:</strong> {{ user.username }}<br>
                                    <button onclick="location.href='/tuo-profilo/modifica-dati'"
                                            class="btn btn-primary btn-lg hvr-glow">Modifica i tuoi dati
                                    </button>
                                </div>
                            </div>

                            </p>
                        </div>
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
                            <h3>I tuoi annunci</h3>

                            <div class="divisore-big"></div>
                            <p style="margin-top:20px">

                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    {{ user.annuncioImbarco|length }}
                                    {{ user.annuncioScambioPosto|length }}
                                </div>

                            </div>

                            </p>
                        </div>
                    </div>
                </div>


                <!--   <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
                            <h3>I tuoi commenti</h3>

                            <div class="divisore-big"></div>
                            <p style="margin-top:20px">

                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    {% for commento in user.attracchi %}
                                        - Attraccato a {{ commento.porto.nome }} il {{ commento.timestamp|date("d-m-Y H:i") }}<br>
                                    {% endfor %}
                                </div>

                            </div>

                            </p>
                        </div>
                    </div>
                </div> -->


                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
                            <h3>I tuoi attracchi</h3>

                            <div class="divisore-big"></div>
                            <p style="margin-top:20px">

                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    {% for attracco in user.attracchi %}
                                        - Attraccato a <a
                                            href="/porti/{{ attracco.porto.permalink }}">{{ attracco.porto.nome }}</a> il {{ attracco.timestamp|date("d-m-Y H:i") }}
                                        <br>
                                    {% endfor %}
                                </div>

                            </div>

                            </p>
                        </div>
                    </div>
                </div>


                <!--   <div class="row clearfix">
                       <div class="col-md-12 column">
                           <div id="body-content" style="min-height: 10px;margin-bottom: 10px">
                               <p>

                                   Velaforfun è una Associazione Sportiva Dilettantistica per la promozione dello sport
                                   della vela.
                                   VelaForFun è interamente gestito da un gruppo di professionisti della vela che lavorano
                                   quotidianamente per aggiornarne i contenuti e rispondere ai quesiti degli utenti.
                                   Scegliere il nostro portale significa poter dialogare realmente con lo staff e usufruire
                                   di contenuti appositamente redatti e costantemente revisionati.
                                   Tramite eventi e momenti di incontro VelaForFun si pone l'obiettivo di avvicinare più
                                   persone possibili alla vela e al rispetto della natura e del mare.

                               </p>
                           </div>
                       </div>
                   </div> -->

            </div>
            <div class="col-md-4 column">


                <div class="colonna-destra" style="margin-bottom: 20px">


                    {% if annuncioImbarco is defined %}
                    <h2 class="foreground-verde">Cerchi un imbarco?</h2>

                    <p>Se sei alla ricerca di un posto, ricevi una mail per gli annunci compatibili con le tue
                        preferenze</p>
                    <button type="submit" class="btn btn-default login hvr-sweep-to-right background-verde notifiche-imbarco">RICEVI
                        LE NOTIFICHE
                    </button>
                    {% else %}

                        <h2 class="foreground-celeste">Cerchi un imbarco?</h2>
                        <p>

                            <form action="/annuncio-imbarco/cerca-annuncio" method="post" name="appbundle_annuncioimbarco">
                                <div id="appbundle_annuncioimbarco">
                                    <input type="hidden" name="appbundle_annuncioimbarco[tipoAnnuncio]" value="CERCO">

                                    <div class="form-group"><input type="hidden" class="form-control"
                                                                   name="appbundle_annuncioimbarco[titolo]"
                                                                   id="appbundle_annuncioimbarco_titolo"></div>
                                    <div class="form-group"><input type="hidden" class="form-control" required="required"
                                                                   name="appbundle_annuncioimbarco[referente]"
                                                                   id="appbundle_annuncioimbarco_referente"></div>
                                    <div class="form-group"><input type="hidden" class="form-control"
                                                                   name="appbundle_annuncioimbarco[telefono]"
                                                                   id="appbundle_annuncioimbarco_telefono"></div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioimbarco_luogo" class="control-label required">Dove
                                            vuoi andare?</label>
                                        <select class="form-control" name="appbundle_annuncioimbarco[luogo]"
                                                id="appbundle_annuncioimbarco_luogo2">
                                            <option value="TUTTO">Tutti</option>
                                            <option value="NORD_ITALIA">Nord Italia</option>
                                            <option value="SUD_ITALIA">Sud Italia</option>
                                            <option value="CENTRO">Centro</option>
                                            <option value="ESTERO">Estero</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioimbarco_tipo2" class="control-label required">Tipo di
                                            imbarcazione</label>
                                        <select class="form-control" name="appbundle_annuncioimbarco[tipo]"
                                                id="appbundle_annuncioimbarco_tipo2">
                                            <option value="TUTTO">Tutti</option>
                                            <option value="CABINATO">Cabinato</option>
                                            <option value="DERIVA">Deriva</option>
                                            <option value="ALTRO">Altro</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioimbarco_ruoloRichiesto2"
                                               class="control-label required">Ruolo da ricoprire</label>
                                        <select class="form-control" name="appbundle_annuncioimbarco[ruoloRichiesto]"
                                                id="appbundle_annuncioimbarco_ruoloRichiesto2">
                                            <option value="TUTTO">Tutti</option>
                                            <option value="PRODIERE">Prodiere</option>
                                            <option value="UOMO_ALBERO">Uomo Albero</option>
                                            <option value="PITMAN">Pitman</option>
                                            <option value="GRINDER">Grinder</option>
                                            <option value="TAILER">Tailer</option>
                                            <option value="TATTICO">Tattico</option>
                                            <option value="RANDISTA">Randista</option>
                                            <option value="TIMONIERE">Timoniere</option>
                                            <option value="CUOCO">Cuoco</option>
                                            <option value="MOZZO_GENERICO">Mozzo Generico</option>
                                            <option value="COMANDANTE">Comandante</option>
                                            <option value="SECONDO">Secondo</option>
                                            <option value="MOTORISTA">Motorista</option>
                                            <option value="STEWARD">Steward</option>
                                            <option value="HOSTESS">Hostess</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioimbarco_costo2" class="control-label required">Retribuzione</label>
                                        <select class="form-control" name="appbundle_annuncioimbarco[costo]"
                                                id="appbundle_annuncioimbarco_costo2">
                                            <option value="TUTTO">Tutti</option>
                                            <option value="GRATIS">Gratis</option>
                                            <option value="A_PAGAMENTO">A pagamento</option>
                                            <option value="PAGATO">Pagato</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="appbundle_annuncioimbarco[tempo]"
                                               id="appbundle_annuncioimbarco_descrizione" type="hidden">
                                        <input name="appbundle_annuncioimbarco[descrizione]"
                                               id="appbundle_annuncioimbarco_descrizione" type="hidden">
                                    </div>
                                    <label for="BoostCakeCheckbox"><input type="hidden" id="notificaAnnuncio" checked
                                                                          value="1"
                                                                          name="appbundle_annuncioimbarco[notifica]"></label>
                                </div>

                                <button type="submit" onclick='' class="btn btn-default login hvr-sweep-to-right">Ricevi notifiche
                                </button>
                                <input type="hidden" class="callback" value="riceviNotifica">
                            </form>

                            <div class="response-form" style="display: none"></div>


                            </p>



                    {% endif %}


                </div>


                <div class="colonna-destra" style="margin-bottom: 20px">
                    {% if user.annuncioScambioPosto|length == 0 %}
                    <h2 class="foreground-celeste">Vuoi scambiare il tuo posto barca?</h2>
                    <p>Se sei alla ricerca di qualcuno che scambi il suo posto barca ricevi una mail per gli annunci compatibili con le tue preferenze</p>
                    <button type="submit" class="btn btn-default login hvr-sweep-to-right background-celeste notifiche-scambio" >RICEVI LE NOTIFICHE</button>
                    {% else %}




                             <h2 class="foreground-verde">Vuoi scambiare il tuo posto barca?</h2>
                        <p>  <form action="/annuncio-scambio-posto/cerca-annuncio" method="post" name="appbundle_annuncioscambioposto">
                                <div id="appbundle_annuncioscambioposto">
                                    <input type="hidden"  name="appbundle_annuncioscambioposto[telefono]" />
                                    <div class="form-group">
                                        <label for="appbundle_annuncioscambioposto_luogoAttuale" class="control-label required">Dove hai la barca adesso?</label>
                                        <select data-live-search="true" class="form-control" name="appbundle_annuncioscambioposto[luogoAttuale]" id="appbundle_annuncioscambioposto_luogoAttuale2">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioscambioposto_luogoRicercato" class="control-label required">Dove cerchi un posto?</label>
                                        <select class="form-control" name="appbundle_annuncioscambioposto[luogoRicercato]" id="appbundle_annuncioscambioposto_luogoRicercato2">
                                            <option value="NORD_ITALIA_TIRRENO">Nord Italia Tirreno</option>
                                            <option value="NORD_ITALIA_ADRIATICO">Nord Italia Adriatico</option>
                                            <option value="CENTRO_ITALIA_TIRRENO">Centro Italia Tirreno</option>
                                            <option value="CENTRO_ITALIA_ADRIATICO">Centro Italia Adriatico</option>
                                            <option value="SUD_ITALIA_TIRRENO">Sud Italia Tirreno</option>
                                            <option value="SUD_ITALIA_ADRIATICO">Sud Italia Adriatico</option>
                                            <option value="SARDEGNA">Sardegna</option>
                                            <option value="SICILIA">Sicilia</option>
                                            <option value="ESTERO">Estero</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioscambioposto_tipo" class="control-label required">Che tipo di barca hai?</label>
                                        <select class="form-control" name="appbundle_annuncioscambioposto[tipo]" id="appbundle_annuncioscambioposto_tipo2">
                                            <option value="VELA">Vela</option>
                                            <option value="MOTORE">Motore</option>
                                            <option value="ALTRO">Altro</option>
                                        </select>
                                    </div>
                                    <div class="form-group hide">                <label for="appbundle_annuncioscambioposto_tempo" class="control-label">Tempo (specifica se possibile le date e/o la durata e/o il periodo)</label><input type="text" class="form-control" name="appbundle_annuncioscambioposto[tempo]" id="appbundle_annuncioscambioposto_tempo"></div>
                                    <div class="form-group hide">                <label for="appbundle_annuncioscambioposto_lunghezza" class="control-label">Lunghezza (metri)</label><input type="text" class="form-control" name="appbundle_annuncioscambioposto[lunghezza]" id="appbundle_annuncioscambioposto_lunghezza"></div>
                                    <input type="hidden" name="appbundle_annuncioscambioposto[descrizione]" id="appbundle_annuncioscambioposto_descrizione" style="display: none;" />
                                </div>   <label for="BoostCakeCheckbox"><input type="hidden" id="BoostCakeCheckbox" checked value="1" name="appbundle_annuncioscambioposto[notifica]"></label>

                                <button type="submit" class="btn btn-default login hvr-sweep-to-right">Modifica dati</button>
                                <input type="hidden" class="callback" value="riceviNotifica">

                            </form>
                            <div class="response-form" style="display: none"></div></p>
                    {% endif %}

                </div>


            </div>
        </div>






        <div id="modalImbarco" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">

                        <form action="cerca-annuncio" method="post" name="appbundle_annuncioimbarco">
                            <div id="appbundle_annuncioimbarco">
                                <input type="hidden" name="appbundle_annuncioimbarco[tipoAnnuncio]" value="CERCO">

                                <div class="form-group"><input type="hidden" class="form-control"
                                                               name="appbundle_annuncioimbarco[titolo]"
                                                               id="appbundle_annuncioimbarco_titolo"></div>
                                <div class="form-group"><input type="hidden" class="form-control" required="required"
                                                               name="appbundle_annuncioimbarco[referente]"
                                                               id="appbundle_annuncioimbarco_referente"></div>
                                <div class="form-group"><input type="hidden" class="form-control"
                                                               name="appbundle_annuncioimbarco[telefono]"
                                                               id="appbundle_annuncioimbarco_telefono"></div>
                                <div class="form-group">
                                    <label for="appbundle_annuncioimbarco_luogo" class="control-label required">Dove
                                        vuoi andare?</label>
                                    <select class="form-control" name="appbundle_annuncioimbarco[luogo]"
                                            id="appbundle_annuncioimbarco_luogo">
                                        <option value="TUTTO">Tutti</option>
                                        <option value="NORD_ITALIA">Nord Italia</option>
                                        <option value="SUD_ITALIA">Sud Italia</option>
                                        <option value="CENTRO">Centro</option>
                                        <option value="ESTERO">Estero</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="appbundle_annuncioimbarco_tipo" class="control-label required">Tipo di
                                        imbarcazione</label>
                                    <select class="form-control" name="appbundle_annuncioimbarco[tipo]"
                                            id="appbundle_annuncioimbarco_tipo">
                                        <option value="TUTTO">Tutti</option>
                                        <option value="CABINATO">Cabinato</option>
                                        <option value="DERIVA">Deriva</option>
                                        <option value="ALTRO">Altro</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="appbundle_annuncioimbarco_ruoloRichiesto"
                                           class="control-label required">Ruolo da ricoprire</label>
                                    <select class="form-control" name="appbundle_annuncioimbarco[ruoloRichiesto]"
                                            id="appbundle_annuncioimbarco_ruoloRichiesto">
                                        <option value="TUTTO">Tutti</option>
                                        <option value="PRODIERE">Prodiere</option>
                                        <option value="UOMO_ALBERO">Uomo Albero</option>
                                        <option value="PITMAN">Pitman</option>
                                        <option value="GRINDER">Grinder</option>
                                        <option value="TAILER">Tailer</option>
                                        <option value="TATTICO">Tattico</option>
                                        <option value="RANDISTA">Randista</option>
                                        <option value="TIMONIERE">Timoniere</option>
                                        <option value="CUOCO">Cuoco</option>
                                        <option value="MOZZO_GENERICO">Mozzo Generico</option>
                                        <option value="COMANDANTE">Comandante</option>
                                        <option value="SECONDO">Secondo</option>
                                        <option value="MOTORISTA">Motorista</option>
                                        <option value="STEWARD">Steward</option>
                                        <option value="HOSTESS">Hostess</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="appbundle_annuncioimbarco_costo" class="control-label required">Retribuzione</label>
                                    <select class="form-control" name="appbundle_annuncioimbarco[costo]"
                                            id="appbundle_annuncioimbarco_costo">
                                        <option value="TUTTO">Tutti</option>
                                        <option value="GRATIS">Gratis</option>
                                        <option value="A_PAGAMENTO">A pagamento</option>
                                        <option value="PAGATO">Pagato</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input name="appbundle_annuncioimbarco[tempo]"
                                           id="appbundle_annuncioimbarco_descrizione" type="hidden">
                                    <input name="appbundle_annuncioimbarco[descrizione]"
                                           id="appbundle_annuncioimbarco_descrizione" type="hidden">
                                </div>
                                <label for="BoostCakeCheckbox"><input type="hidden" id="notificaAnnuncio" checked
                                                                      value="1"
                                                                      name="appbundle_annuncioimbarco[notifica]"></label>
                            </div>

                            <button type="submit" onclick='' class="btn btn-default login hvr-sweep-to-right">Ricevi
                                notifiche
                            </button>
                            <input type="hidden" class="callback" value="riceviNotifica">
                        </form>

                        <div class="response-form" style="display: none"></div>


                    </div>
                </div>
            </div>
        </div>









        <div id="modalScambio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        {% if app.user %}

                            <form action="cerca-annuncio" method="post" name="appbundle_annuncioscambioposto">
                                <div id="appbundle_annuncioscambioposto">
                                    <input type="hidden" name="appbundle_annuncioscambioposto[telefono]"/>

                                    <div class="form-group">
                                        <label for="appbundle_annuncioscambioposto_luogoAttuale"
                                               class="control-label required">Dove hai la barca adesso?</label>
                                        <select class="form-control" name="appbundle_annuncioscambioposto[luogoAttuale]"
                                                id="appbundle_annuncioscambioposto_luogoAttuale">

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="appbundle_annuncioscambioposto_tipo" class="control-label required">Che
                                            tipo di barca hai?</label>
                                        <select class="form-control" name="appbundle_annuncioscambioposto[tipo]"
                                                id="appbundle_annuncioscambioposto_tipo">
                                            <option value="VELA">Vela</option>
                                            <option value="MOTORE">Motore</option>
                                            <option value="ALTRO">Altro</option>
                                        </select>
                                    </div>
                                    <div class="form-group hide"><label for="appbundle_annuncioscambioposto_tempo"
                                                                        class="control-label">Tempo (specifica se
                                            possibile le date e/o la durata e/o il periodo)</label><input type="text"
                                                                                                          class="form-control"
                                                                                                          name="appbundle_annuncioscambioposto[tempo]"
                                                                                                          id="appbundle_annuncioscambioposto_tempo">
                                    </div>
                                    <div class="form-group hide"><label for="appbundle_annuncioscambioposto_lunghezza"
                                                                        class="control-label">Lunghezza
                                            (metri)</label><input type="text" class="form-control"
                                                                  name="appbundle_annuncioscambioposto[lunghezza]"
                                                                  id="appbundle_annuncioscambioposto_lunghezza"></div>
                                    <input type="hidden" name="appbundle_annuncioscambioposto[descrizione]"
                                           id="appbundle_annuncioscambioposto_descrizione" style="display: none;"/>
                                </div>
                                <label for="BoostCakeCheckbox"><input type="hidden" id="BoostCakeCheckbox" checked
                                                                      value="1"
                                                                      name="appbundle_annuncioscambioposto[notifica]"></label>

                                <button type="submit" class="btn btn-default login hvr-sweep-to-right">Cerca</button>
                                <input type="hidden" class="callback" value="riceviNotifica">

                            </form>
                            <div class="response-form" style="display: none"></div>
                        {% else %}


                            <div class="col-md-12 column" style="">
                                <a href="/secure_area/connect/facebook"
                                   class="btn btn-block btn-social btn-lg btn-facebook"
                                   id="loginFacebook">
                                    <i class="fa fa-facebook"></i>
                                    Accedi con Facebook
                                </a>
                            </div>
                            <div class="col-md-12 column" style="text-align:center;width:100%;">
                                <div class="divisore-big"></div>

                                <span style="font-size: 20px">oppure inserisci i tuoi dati di accesso</span>

                                <div class="divisore-big"></div>
                            </div>




                            <div class="col-md-12 column" style="">
                                <form method="post" action="/login_check">

                                    <div class="form-group"><label for="fos_user_registration_form_username"
                                                                   class="control-label required">Username:</label><input
                                                type="text" class="form-control" pattern=".{2,}" maxlength="255"
                                                required="required" name="_username" id="username"></div>
                                    <div class="form-group"><label for="fos_user_registration_form_plainPassword_first"
                                                                   class="control-label required">Password:</label><input
                                                type="password" class="form-control" required="required"
                                                name="_password" id="password"></div>

                                    <div class="form-group">

                                        <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                        <label for="remember_me">Ricordami</label>
                                    </div>
                                    <input type="submit" value="Accedi"
                                           class="btn btn-default login hvr-sweep-to-right">

                                </form>

                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>








        <div class="modal fade" id="annuncioCreato">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Annunci Scambio Posto Barca</h4>
                    </div>
                    <div class="modal-body" style="min-height: 10px;">
                        <p>Complimenti, il tuo annuncio è stato creato con successo!<br>
                            Riceverai una mail di notifica ogni volta che viene inserito un annuncio che rispondono alle
                            tue preferenze!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->



    {% endblock %}



