{% extends 'base.html.twig' %}

{% block title %}{{ articolo.titolo }}{% endblock %}

{% block description %}{{ articolo.testo }}{% endblock %}









{% block javascripts %}
    <script language="javascript">
        $(document).ready(function () {
            $('.image-link').magnificPopup({type: 'image'});
        });
    </script>
{% endblock %}

{% block body %}

    <!-- contenuto -->

    <div class="row clearfix" id="content-articolo">
        <div class="col-md-8 column">




 <div class="row clearfix hidden-print">
        <div class="col-md-6 col-xs-6 column">
             <div class="category">
             <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left background-celeste" style="color:white;" aria-hidden="true"></span>  </a>            <a id="category-link" href="/archivio/{{ articolo.categoria.permalink }}" style="margin-top:5px;margin-left: 12px;"><span style="background:{{ articolo.categoria.getColore() }};" >{{ articolo.categoria.nome|capitalize }}</span> </a>
              </div>

        </div>

        <div class="col-md-6 col-xs-6 column text-right">
          <ul class="share-buttons">
                    <li><a href="#" onclick="window.print();"><i class="fa fa-print fa-2x"></i></a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.google.it&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.google.it&text=:%20http%3A%2F%2Fwww.google.it" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.google.it" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.google.it&title=&summary=&source=http%3A%2F%2Fwww.google.it" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.google.it" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>

        </div>
         </div>








         <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>{{ articolo.titolo }}</h1>

        </div>
         </div>


 <div class="row clearfix">
        <div class="col-md-12 column sottotitolo">
            {{ articolo.sottotitolo|raw }}
        <div class="divisore-big"></div>
        </div>
         </div>




 <div class="row clearfix">
        <div class="col-md-12 column" >
        <div id="body-content">
        {% if articolo.immagine!="" %}
    <a class="image-link" href="/images/articoli/{{ articolo.immagine }}"><img class="immagine-articolo" style=""
                                                                               src="/images/articoli/{{ articolo.immagine }}"></a>

{% endif %}

           {{ articolo.testo|raw }}

           {% if articolo.gallery is defined and articolo.gallery|length > 0 %}
    <div class="divisore-big"></div>
    <h3>Visualizza fa fotogallery</h3>
    <div class="divisore-big"></div>
{% endif %}
 <div class="row clearfix hidden-print">
        <div class="col-md-6 column">
        </div>

        <div class="col-md-6 column text-right">
          <ul class="share-buttons">
          <li><a href="#" onclick="window.print();"><i class="fa fa-print fa-2x"></i></a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.google.it&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.google.it&text=:%20http%3A%2F%2Fwww.google.it" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.google.it" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.google.it&title=&summary=&source=http%3A%2F%2Fwww.google.it" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.google.it" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>

        </div>
         </div>

        </div>
</div>

        </div>









        </div>


           <div class="col-md-4 column hidden-print">


               {% if articoli|length > 0 %}
    <div class="title" style="border-top:1px solid rgb(153, 153, 153);">
        Altri articoli
    </div>
    <div class="content">


        {% for articoloRel in articoli %}
            <a href="/archivio/{{ articoloRel.categoria.permalink }}/{{ articoloRel.permalink }}">
                <div class="latest-news">
                    <div class="content">
                        <h4>{{ articoloRel.titolo }}</h4>

                        {{ articoloRel.sottotitolo|raw }}
                    </div>
                    <div class="arrow">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endif %}

            {% if articolo.linkCorrelato is defined and articolo.linkCorrelato!="" %}

    <a href="{{ articolo.linkCorrelato }}">
        <div class="arrow_box">
            {% if articolo.immagineCorrelataArticolo is defined %}
                <div class="foto">
                    <div class="center-cropped"
                         style="height: 230px;background-image: url('/images/articoli/{{ articolo.immagineCorrelataArticolo }}');">
                    </div>
                </div>
            {% endif %}
            <div class="content">
                <h4>{{ articolo.titoloCorrelato }}</h4>

                {{ articolo.testoCorrelato|raw }}
            </div>

        </div>

    </a>


{% endif %}



        </div>


            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>



<div class="row clearfix">

 <div class="col-md-12 column">
        {% for categoriaRel in categorie %}


    <div class="category" style="margin:15px;width:auto;">
        <a href="/archivio/{{ categoriaRel.permalink }}"><span
                    style="background:{{ categoriaRel.getColore() }}">{{ categoriaRel.nome|capitalize }}</span> <span
                    style="background:{{ categoriaRel.getColore() }}">+</span></a>
    </div>


{% endfor %}
 </div>


        </div>


    </div>


{% endblock %}

