{% extends 'base.html.twig' %}

{% block title %}{{ articolo.titolo }}{% endblock %}

{% block description %}{{ articolo.testo }}{% endblock %}





{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>{{ articolo.titolo }}</h1>
            <p>{{ articolo.sottotitolo }}</p>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">
          <p>{{ articolo.testo }}</p>
{% include 'SonataSeoBundle:Block:_facebook_sdk.html.twig' %}

{% include 'SonataSeoBundle:Block:_twitter_sdk.html.twig' %}

        </div>


        <div class="col-md-4 column" id="colonnaPorto">


            <div class="row clearfix">

                <div class="col-md-12 column">

                Colonna




                </div>
            </div>

    <div class="row clearfix">

         <div class="col-md-12 column">



                     </div>
        </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>

{% endblock %}

