{% extends 'layout_email.html.twig' %}


{% block title %}Annuncio di imbarco{% endblock %}

{% block body %}

    <font face="arial">
        <div class='movableContent'>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td height='40'></td>
                </tr>
                <tr>
                    <td width='410'>
                        <table width="580" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td height='15'></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class='contentEditableContainer contentTextEditable'>
                                        <div class='contentEditable' style='text-align: left;'>

                                            <h3>ANNUNCIO DI IMBARCO</h3>

                                            <b>RICHIESTA DI:</b> {{ annuncio.referente }}<br>
                                            <b>E-MAIL:</b> {{ annuncio.email }} <br>
                                            <b>RECAPITO TELEFONICO:</b> {{ annuncio.telefono }} <br> <br>

                                            <h3>SPECIFICHE</h3>

                                            <b>ZONA DI NAVIGAZIONE:</b> {{ annuncio.luogo }} <br>
                                            <b>LOCALITA':</b> {{ annuncio.localita }} <br>
                                            <b>QUANDO:</b>  {{ annuncio.tempo }} <br>
                                            <b>RUOLO RICHIESTO:</b> {{ annuncio.ruoloRichiesto }} <br>

                                            <b>COSTO:</b> {{ annuncio.costo }} <br> <br>

                                            <h3>NOTE</h3>

                                            {{ annuncio.descrizione }}<br><br>

                                            <i>Questa mail le è stata inviata in quanto i parametri dell'annuncio
                                                corrispondono a quelli inseriti da lei al momento della registrazione al
                                                servizio di notifica. Per modificare i parametri o per annullare l'iscrizione vada
                                                direttamente sul sito.</i>

                                            <br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </font>
{% endblock %}
