{% extends 'base.html.twig' %}

{% block body %}


{% block title %}
    Cerca Annunci cerco/offro imbarco
{% endblock %}
    <!-- contenuto -->

<div class="row clearfix">
     <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Cerca un imbarco</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">



           <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Titolo</th>
          <th  align="center" class="center" style="width:60px;">Inserito il</th>
          <th  align="center" class="center" style="width:60px;"><i class="fa fa-reply"></i></th>
          <th  align="center" class="center" style="width:60px;"><i class="fa fa-eye"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for annuncio in annunci %}
    <tr>
        <td>{{ annuncio.topic.title }}</td>
        <td  style="width: 100px;padding:10px 0px 10px 0px !important;"> <div class="td-boarded"> {{ annuncio.timestamp|date("d/m/Y H:i") }}</div></td>
        <td   align="center" class="center" style="width: 100px;padding:10px 0px 10px 0px !important;"><div class="td-boarded"><span title="{{ annuncio.topic.getCachedReplyCount() }}" class="label label-info lead">{{ annuncio.topic.getCachedReplyCount() }}</span></div></td>
        <td   align="center" class="center" style="width: 100px;padding:10px 0px 10px 0px !important;"><div class="td-boarded"><span title="{{ annuncio.topic.getCachedViewCount() }}" class="label label-info lead">{{ annuncio.topic.getCachedViewCount() }}</span></div></td>
        <td>
            <div class="td-boarded" style="padding-left: 5px">   <button  style="margin-top: 10px;" type="button" class="btn btn-primary hvr-glow"
                    onclick="location.href='/forum/velaforfun/topic/{{ annuncio.topic.id }}'">
                Leggi Annuncio
            </button></div>
        </td>
    </tr>
{% endfor %}


      </tbody>
    </table>


        </div>
        <div class="col-md-4 column">
            <div class="content">
            <div class="colonna-destra" style="margin-bottom: 20px">
                           <h2>Cerca tra gli annunci</h2>
                             <p>compila il form per trovare annunci compatibili con le tue richieste</p>
                      <form action="" method="post" name="appbundle_annuncioimbarco">
<div id="appbundle_annuncioimbarco">
   <input type="hidden" name="appbundle_annuncioimbarco[tipoAnnuncio]"  value="CERCO">
   <div class="form-group"> <input type="hidden" class="form-control" name="appbundle_annuncioimbarco[titolo]" id="appbundle_annuncioimbarco_titolo"></div>
   <div class="form-group">  <input type="hidden" class="form-control" required="required" name="appbundle_annuncioimbarco[referente]" id="appbundle_annuncioimbarco_referente"></div>
   <div class="form-group"> <input type="hidden" class="form-control" name="appbundle_annuncioimbarco[telefono]" id="appbundle_annuncioimbarco_telefono"></div>
   <div class="form-group">
      <label for="appbundle_annuncioimbarco_luogo" class="control-label required">Dove vuoi andare?</label>
      <select class="form-control" name="appbundle_annuncioimbarco[luogo]" id="appbundle_annuncioimbarco_luogo">
         <option value="NORD_ITALIA">Nord Italia</option>
         <option value="SUD_ITALIA">Sud Italia</option>
         <option value="CENTRO">Centro</option>
         <option value="ESTERO">Estero</option>
      </select>
   </div>
   <div class="form-group">
      <label for="appbundle_annuncioimbarco_tipo" class="control-label required">Tipo di imbarcazione</label>
      <select class="form-control" name="appbundle_annuncioimbarco[tipo]" id="appbundle_annuncioimbarco_tipo">
         <option value="CABINATO">Cabinato</option>
         <option value="DERIVA">Deriva</option>
         <option value="ALTRO">Altro</option>
      </select>
   </div>
  <div class="form-group">
      <label for="appbundle_annuncioimbarco_ruoloRichiesto" class="control-label required">Ruolo da ricoprire</label>
      <select class="form-control" name="appbundle_annuncioimbarco[ruoloRichiesto]" id="appbundle_annuncioimbarco_ruoloRichiesto">
         <option value="PRODIERE">Prodiere</option>
         <option value="UOMO_ALBERO">Uomo Albero</option>
         <option value="PITMAN">Pitman</option>
         <option value="GRINDER">Grinder</option>
         <option value="TAILER">Tailer</option>
         <option value="TATTICO">Tattico</option>
         <option value="RANDISTA">Randista</option>
         <option value="TIMONIERE">Timoniere</option>
         <option value="CUOCO">Cuoco</option>
         <option value="MOZZO_GENERICO">Mozzo Generico</option>
         <option value="COMANDANTE">Comandante</option>
         <option value="SECONDO">Secondo</option>
         <option value="MOTORISTA">Motorista</option>
         <option value="STEWARD">Steward</option>
         <option value="HOSTESS">Hostess</option>
      </select>
   </div>
   <div class="form-group">
      <label for="appbundle_annuncioimbarco_costo" class="control-label required">Retribuzione</label>
      <select class="form-control" name="appbundle_annuncioimbarco[costo]" id="appbundle_annuncioimbarco_costo">
         <option value="GRATIS">Gratis</option>
         <option value="A_PAGAMENTO">A pagamento</option>
         <option value="PAGATO">Pagato</option>
      </select>
   </div>
   <div class="form-group">
         <input name="appbundle_annuncioimbarco[tempo]" id="appbundle_annuncioimbarco_descrizione" type="hidden">
      <input name="appbundle_annuncioimbarco[descrizione]" id="appbundle_annuncioimbarco_descrizione" type="hidden">
   </div>
   <label for="BoostCakeCheckbox"><input type="checkbox" id="notificaAnnuncio" value="1" name="appbundle_annuncioimbarco[notifica]">Voglio ricevere notifiche quando viene inserito un annuncio che combacia con le mie preferenze</label>
</div>

                                        <button type="submit" onclick='$("table tbody").html("<i style=\"font-size:50px;text-align:center\" class=\"fa fa-spinner fa-pulse\" id=spinner></i>");' class="btn btn-default login hvr-glow">Cerca</button>
 <input type="hidden" class="callback" value="setRisultatiAnnunciImbarco">
                                    </form>

<div class="response-form" style="display: none"></div>
        </div>

            </div>





        </div>
    </div>
    <!-- fine contenuto -->

</div>




 <div class="modal fade" id="annuncioCreato">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Annuncio Cerco posto barco</h4>
                </div>
                <div class="modal-body" style="min-height: 10px;">
                    <p>Complimenti, il tuo annuncio è stato creato con successo!<br>
                    Riceverai una mail di notifica ogni volta che viene inserito un annuncio che rispondono alle tue preferenze!</p>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}



