<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | VelaForFun</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/social.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" //cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colori.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/scrollPane.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon"
          type="image/png"
          href="{{ asset('/bundles/app/images/logo.png') }}">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
</head>

<body>

<div class="container">


    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg hidden-print">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="padding:0"> <img src="/bundles/app/images/logo.png" width="60"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Forum
                            <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a class="bordered blue" href="/archivio/categoria-news">News di Vela</a></li>
                            <li><a href="#">Portolano Online</a></li>
                            <li><a href="/porti">I porti d'Italia</a></li>
                            <li><a href="/forum/velaforfun">Forum</a></li>
                            <li><a href="/nodi">I nodi Marinari</a></li>
                            <li><a href="/codice-internazionale">Codice internazionale</a></li>
                            <li><a href="/foto">Archivio Fotografico</a></li>
                            <li><a href="/video">Galleria Video</a></li>
                            <li class="dropdown-header">Annunci di imbarco</li>
                            <li><a href="#">Cerco</a></li>
                            <li><a href="#">Offro</a></li>
                            <li class="dropdown-header">Annunci di usato</li>
                            <li><a href="#">Vendo</a></li>
                            <li><a href="#">Compro</a></li>
                            <li class="divider"></li>
                            <li><a href="/forum/velaforfun">Vedi tutte le sezioni</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}


                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1Tablet"
                               data-toggle="dropdown" aria-expanded="true">

                                <div>
                                    <span> {{ app.user.username }}</span>
                                    <span class="caret"></span>
                                </div>

                            </a>

                            {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuo-profilo">
                                            <i class="fa fa-user"></i>
                                            Il tuo profilo</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuoi-annunci">
                                            <i class="fa fa-pencil"></i>
                                            I tuoi annunci</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">


                                    <li class="dropdown-header">Gestione Articoli</li>
                                    <li><a href="/archivio/articoli/crea">Crea nuovo</a></li>
                                    <li><a href="/archivio/list/articoli">Lista</a></li>

                                    <li class="dropdown-header">Gestione Porti</li>
                                    <li><a href="/porti/crea">Crea nuovo</a></li>
                                    <li><a href="/porti/list">Lista</a></li>
                                    <li class="dropdown-header">Gestione Nodi</li>
                                    <li><a href="/nodi/crea">Crea nuovo</a></li>
                                    <li><a href="/nodi/list">Lista</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>

                            {% endif %}


                        </div>
                    {% else %}
                        <ul class="list-inline" id="menu-login2">
                            <li class="dropdown bordered" style="" id="menuLogin2">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin2"
                                   style="border:none;">ACCEDI</a>

                                <div class="dropdown-menu" style="">
                                    <form method="post" action="/login_check">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" required="required" value="" name="_username"
                                                   id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" required="required" name="_password" id="password">
                                        </div>
                                        <div class="form-group">

                                            <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                            <label for="remember_me">Ricordami</label>
                                        </div>
                                        <button type="submit" class="btn btn-default login hvr-glow">Accedi</button>
                                        <!--  <input type="hidden" name="_target_path" value="{{ app.request.get('_route') }}" /> -->
                                    </form>

                                    <div class="divisore"></div>
                                    <p class="menu-separator"><span>oppure</span></p>
                                    <a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
                                </div>
                            </li>
                            <li class="bordered"><a href="/register">REGISTRATI</a></li>
                        </ul>



                    {% endif %}

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <nav class="navbar navbar-default navbar-fixed-top visible-md visible-lg" id="nav-top">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"> <i class="fa fa-bars fa-lg"></i> <strong>Tutte le sezioni</strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="bordered blue" href="/archivio/categoria-news">News di Vela</a></li>
                                <li><a href="#">Portolano Online</a></li>
                                <li><a href="/porti">I porti d'Italia</a></li>
                                <li><a href="/forum/velaforfun">Forum</a></li>
                                <li><a href="/nodi">I nodi Marinari</a></li>
                                <li><a href="/codice-internazionale">Codice internazionale</a></li>
                                <li><a href="/foto">Archivio Fotografico</a></li>
                                <li><a href="/video">Galleria Video</a></li>
                                <li class="divider"></li>
                                <li class="form">
                                    <form method="GET">
                                        <div class="right-inner-addon">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                            <input placeholder="cerca un termine..." type="search"
                                                   class="form-control"
                                                   onclick="$(this).val('')"/>
                                        </div>
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">ANNUNCI</li>
                                <li><a href="/annuncio-imbarco">Cerco/Offro imbarco</a></li>
                                <li><a href="/forum/velaforfun/board/6">Mercatino dell'usato</a></li>
                                <li><a href="/annuncio-scambio-posto">Scambio posto barca</a></li>
                                <li class="divider"></li>
                                <li>
                                    <div class="social-menu">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>

                                        <p>© 2015 Velaforfun</p>
                                    </div>


                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="logo">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                                        </div>
                                        <div class="back">
                                            <a href="/"> <img src="/bundles/app/images/logo.png" width="50"></a>

                                            {% set subMenu= menu("sub_menu") %}

                                            <ul class="list-inline">
                                                {% for nodo in subMenu %}
                                                    <li><a href="{{ nodo.link }}"
                                                           target="{{ nodo.action }}">{{ nodo.nome }}</a></li>

                                                {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 column ">

                    {% if is_granted('ROLE_USER') %}
                        <ul class="list-inline" id="menu-login">

                            <li class="bordered"
                                style="padding-right: 15px;border-right: 1px solid rgb(153, 153, 153);">
                                <a href="/logout">Esci</a>
                            </li>
                            <li>
                                <div class="dropdown" id="profileMenu">
                                    <a class="dropdown-toggle" id="dropdownMenu1"
                                       data-toggle="dropdown" aria-expanded="true">
                                        <span class="username"> <strong>{{ app.user.username }}</strong></span>
                                        {% if app.user.profilePicturePath == "" and app.user.getFacebookId() !="" %}
                                            <img class="avatar-small"
                                                 src="http://graph.facebook.com/{{ app.user.getFacebookId() }}/picture?type=square"
                                                 alt="avatar"/>

                                        {% else %}

                                            {% if app.user.profilePicturePath != "" %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/{{ app.user.profilePicturePath }}"
                                                     alt="avatar"/>
                                            {% else %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/default_avatar.png"
                                                     alt="avatar"/>
                                            {% endif %}
                                        {% endif %}
                                    </a>

                                    {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                       href="/tuo-profilo">
                                                    <i class="fa fa-user"></i>
                                                    Il tuo profilo</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                       href="/tuoi-annunci">
                                                    <i class="fa fa-pencil"></i>
                                                    I tuoi annunci</a>
                                            </li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                                    <i class="fa fa-sign-out"></i>
                                                    Esci</a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">


                                            <li class="dropdown-header">Gestione Articoli</li>
                                            <li><a href="/archivio/articolo/crea">Crea nuovo</a></li>
                                            <li><a href="/archivio/articolo/list">Lista</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Gestione Porti</li>
                                            <li><a href="/porti/crea">Crea nuovo</a></li>
                                            <li><a href="/porti/list">Lista</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Gestione Nodi</li>
                                            <li><a href="/nodi/crea">Crea nuovo</a></li>
                                            <li><a href="/nodi/list">Lista</a></li>

                                            <li class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                                    <i class="fa fa-sign-out"></i>
                                                    Esci</a>
                                            </li>
                                        </ul>

                                    {% endif %}


                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="list-inline" id="menu-login">
                            <li style="padding-left:0px;float:left"><span>SEI GIÀ ISCRITTO?</span></li>
                            <li class="dropdown bordered" style="padding-right: 11px;" id="menuLogin">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"
                                   style="border:none">ACCEDI</a>

                                <div class="dropdown-menu" style="">
                                    <form method="post" action="/login_check">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" required="required" value="" name="_username"
                                                   id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" required="required" name="_password" id="password">
                                        </div>
                                        <div class="form-group">

                                            <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                            <label for="remember_me">Ricordami</label>
                                        </div>
                                        <!--  <input type="hidden" name="_target_path" value="{{ app.request.get('_route') }}" />
-->
                                        <button type="submit" class="btn btn-default login hvr-glow">Accedi</button>
                                    </form>

                                    <div class="divisore"></div>
                                    <span style="color:white;text-align:center;float:left;width:100%;margin-bottom:10px">oppure</span>
                                    <a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
                                </div>
                            </li>
                            <li class="bordered"><a href="/register">REGISTRATI</a></li>
                        </ul>



                    {% endif %}

                </div>
            </div>


        </div>
        <!-- /.container-fluid -->
    </nav>


    {% block body %}{% endblock %}
</div>

<div class="container-fluid hidden-print" style="background:white;padding-top:20px">
    <div class="container">


        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="box-grande">

                </div>
            </div>
            <div class="col-md-6 column box-footer">
                <div class="row clearfix ">
                    <div class="col-md-12 column">
                        <h2>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</h2>
                        rem aperiam, eaque ipsa
                        qe veritatis et quasi architecto.
                        QUAE AB ILLO INVENTORE VERITATIS ET QUASI ARCHITECTO BEATAE VITAE DICTA.
                        <div class="divisore-big"></div>
                    </div>
                </div>

                <div class="row clearfix social">
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore"></div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
                <div class="text-center">
                    <div class="logo">
                        <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                    </div>
                    <p>Velaforfun, IDI CHE-247.845.224, Via Livio 14 - 6830 Venezia (ITALIA), Tel. 0041 091 690 19
                        19 -
                        ©
                        2015 Velaforfun</p>

                    <p>
                        {% set menu= menu("footer_menu") %}

                        {% for nodo in menu %}
                            <a href="{{ nodo.link }}" target="{{ nodo.action }}">{{ nodo.nome }}</a>
                            {% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="loginFacebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Accedi con Facebook</h4>

            </div>
            <div class="modal-body"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script language="javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script language="javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/app/js/bootstrap3-typeahead.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>

<script src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/mwheelIntent.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js"></script>


<script src="{{ asset('bundles/app/js/form.js') }}"></script>
<script src="{{ asset('bundles/app/js/main.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


<!-- Redactor is here -->
<link rel="stylesheet" href="/redactor/redactor.css"/>



{% if form is defined %}
    <script src="/redactor/redactor.min.js"></script>
    <script language="javascript">

        $(document).ready(function () {

            if ($('[ name="{{ form.vars.full_name }}"]').length > 0) {
                $('textarea').redactor({
                    imageUpload: '/redactor/image_upload.php',
                    fileUpload: '/redactor/file_upload.php',
                    imageGetJson: '/redactor/json/data.json'
                });
            }

            var forms = [
                '[ name="{{ form.vars.full_name }}"]'
            ];


            $(forms.join(',')).submit(function (e) {
                e.preventDefault();
                var form = $(this)
                form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                form.find("input[type='submit'].show,button.show,a.show,i.show").addClass("hide").removeClass("show");
                form.find(".fa-spinner").toggleClass("hide");

                postForm($(this), function (response) {
                    if (response.success == true) {
                        showalert(form, "Creato con successo!", "success")
                    } else {
                        showalert(form, "Errore nella creazione", "error")
                    }
                    form.find('input[type="submit"],button').removeAttr('disabled');
                    if (form.find(".callback").length > 0) {
                        var callbackFunction = form.find(".callback").val();
                        window[callbackFunction](response);
                    }

                });
                form.find("input[type='submit'].hide,button.hide,a.hide,i.hide").addClass("show").removeClass("hide");
                form.find(".fa-spinner").toggleClass("hide");
                form.find('input[type="submit"],button,a').removeAttr('disabled');
                return false;
            });


        });
    </script>

{% endif %}



{% block javascripts %}{% endblock %}
</body>
</html>
