<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | VelaForFun</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/social.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" //cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colori.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/scrollPane.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colorbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-select.min.css') }}">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon"
          type="image/png"
          href="{{ asset('/bundles/app/images/logo.png') }}">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
</head>

<body>

<div class="container">


    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg ">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="padding:0"> <img src="/bundles/app/images/logo.png" width="60"></a>




                <a data-toggle="modal" href="#" data-target="#meteoModal" id="mobile-localized" >

                    <i class="fa fa-location-arrow foreground-celeste" id="mobile-localized-arrow" ></i>
                    <i class="fa fa-spinner fa-pulse" style="" id="loadingMeteoMobile"></i>
                    <span id="mobile-localized-city" style="display:none"></span>

                </a>


            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">

                    <li><a class="bordered blue" href="/archivio/categoria-news">News di Vela</a></li>
                    <li><a href="/segnalazione-portolano">Portolano Online</a></li>
                    <li><a href="/porti">I porti d'Italia</a></li>
                    <li><a href="/forum/velaforfun">Forum</a></li>
                    <li><a href="/nodi">I nodi Marinari</a></li>
                    <li><a href="/codice-internazionale">Codice internazionale</a></li>
                    <li><a href="/foto">Archivio Fotografico</a></li>
                    <li><a href="/video">Galleria Video</a></li>
                    <li class="dropdown-header">Annunci di imbarco</li>
                    <li><a href="#">Cerco</a></li>
                    <li><a href="#">Offro</a></li>
                    <li class="dropdown-header">Annunci di usato</li>
                    <li><a href="#">Vendo</a></li>
                    <li><a href="#">Compro</a></li>
                    <li class="divider"></li>
                    <li><a href="/forum/velaforfun">Forum</a></li>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}


                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1Tablet"
                               data-toggle="dropdown" aria-expanded="true">

                                <div>
                                    <span> {{ app.user.username }}</span>
                                    <span class="caret"></span>
                                </div>

                            </a>

                            {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuo-profilo">
                                            <i class="fa fa-user"></i>
                                            Il tuo profilo</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuoi-annunci">
                                            <i class="fa fa-pencil"></i>
                                            I tuoi annunci</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">


                                    <li class="dropdown-header">Gestione Articoli</li>
                                    <li><a href="/archivio/articoli/crea">Crea nuovo</a></li>
                                    <li><a href="/archivio/list/articoli">Lista</a></li>

                                    <li class="dropdown-header">Gestione Porti</li>
                                    <li><a href="/porti/crea">Crea nuovo</a></li>
                                    <li><a href="/porti/list">Lista</a></li>
                                    <li class="dropdown-header">Gestione Nodi</li>
                                    <li><a href="/nodi/crea">Crea nuovo</a></li>
                                    <li><a href="/nodi/list">Lista</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>

                            {% endif %}


                        </div>
                    {% else %}

                        <ul class="list-inline" id="menu-login2">
                            <li class="bordered" style="margin-left: 10px"><a href="/login">Accedi</a></li>
                            <li class="bordered"><a href="/register">Registrati</a></li>

                        </ul>




                    {% endif %}

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <nav class="navbar navbar-default navbar-fixed-top visible-md visible-lg " id="nav-top">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-4 column ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            {% set subMenu= menu("main_menu") %}

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"> <i class="fa fa-bars fa-lg"></i> <strong>Tutte le sezioni</strong></a>
                            <ul class="dropdown-menu" role="menu">

                                {% for nodo in subMenu %}
                                    <li><a {% if nodo.colore !="" %}class="bordered "
                                           style="border-color:{{ nodo.colore }};"{% endif %} href="{{ nodo.link }}"
                                           target="{{ nodo.action }}">{{ nodo.nome }}</a></li>

                                {% endfor %}

                                <li><a class="bordered blue" href="/archivio/categoria-news">News di Vela</a></li>
                                <li><a href="/segnalazione-portolano">Portolano Online</a></li>
                                <li><a href="/porti">I porti d'Italia</a></li>
                                <li><a href="/forum/velaforfun">Forum</a></li>
                                <li><a href="/nodi">I nodi Marinari</a></li>
                                <li><a href="/codice-internazionale">Codice internazionale</a></li>
                                <li><a href="/foto">Archivio Fotografico</a></li>
                                <li><a href="/video">Galleria Video</a></li>
                                <li class="divider"></li>
                                <li class="form">

                                    <form method="get" action="/cerca" id="cerca-form-header">
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <div class="inner-addon left-addon">
                                                <a href="#" style="top:inherit;color:white;border-color:white"
                                                   onclick="event.preventDefault();$('#cerca-form-header').submit()"><i
                                                            class="fa fa-search"></i></a>
                                                <input style="background:rgb(61,144,173);color:white" name="key"
                                                       type="search"
                                                       class="form-control"
                                                       placeholder="" value="cerca un termine..." onClick="$(this).val('');$(this).attr('value','');"/>
                                            </div>


                                        </div>
                                    </form>
                                </li>
                                <lI>

                                    <div class="row clearfix">
                                        <div class="col-md-12 column ">

                                            <div class="row clearfix">

                                                <div class="col-md-12 column">
                                                    <h4 class="foreground-celeste"
                                                        style="padding-left:0px;margin-top:10px">METEO</h4>
                                                </div>
                                            </div>
                                            <div id="meteo-localized-box" class="hide">

                                                <div class="col-md-12 column">
                                                    <button class="btn btn-primary" onclick="$('#meteoModal').modal()"
                                                            style="width:100%;margin-top:10px;margin-bottom:10px">
                                                        VISUALIZZA IL METEO
                                                    </button>
                                                </div>

                                            </div>

                                            <div class="row clearfix" id="div-localized">

                                                <div class="col-md-12 column">
                                                    <button class="btn btn-primary" onclick="localizzami()"
                                                            style="width:100%;margin-top:10px;margin-bottom:10px">
                                                        Localizzami
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </lI>
                                <li class="divider"></li>
                                <li class="dropdown-header">ANNUNCI</li>
                                <li><a href="/annuncio-imbarco">Cerco/Offro imbarco</a></li>
                                <li><a href="/forum/velaforfun/board/6">Mercatino dell'usato</a></li>
                                <li><a href="/annuncio-scambio-posto">Scambio posto barca</a></li>
                                <li class="divider"></li>
                                <li>
                                    <div class="social-menu">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>

                                        <p>© 2015 Velaforfun</p>
                                    </div>


                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="logo">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                                        </div>
                                        <div class="back">
                                            <a href="/"> <img src="/bundles/app/images/logo.png" width="50"></a>

                                            {% set subMenu= menu("sub_menu") %}

                                            <ul class="list-inline">
                                                {% for nodo in subMenu %}
                                                    <li><a href="{{ nodo.link }}"
                                                           target="{{ nodo.action }}">{{ nodo.nome }}</a></li>

                                                    {% if  not loop.last %}
                                                        <li style="padding:0px 0px 0px 0px">|</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 column ">

                    {% if is_granted('ROLE_USER') %}
                        <ul class="list-inline" id="menu-login">

                            <li class="bordered"
                                style="padding-right: 15px;border-right: 1px solid rgb(153, 153, 153);">
                                <a href="/logout">Esci</a>
                            </li>
                            <li>
                                <div class="dropdown" id="profileMenu">
                                    <a class="dropdown-toggle" id="dropdownMenu1"
                                       data-toggle="dropdown" aria-expanded="true">
                                        <span class="username"> <strong>{{ app.user.username }}</strong></span>
                                        {% if app.user.profilePicturePath == "" and app.user.getFacebookId() !="" %}
                                            <img class="avatar-small"
                                                 src="http://graph.facebook.com/{{ app.user.getFacebookId() }}/picture?type=square"
                                                 alt="avatar"/>

                                        {% else %}

                                            {% if app.user.profilePicturePath != "" %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/{{ app.user.profilePicturePath }}"
                                                     alt="avatar"/>
                                            {% else %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/default_avatar.png"
                                                     alt="avatar"/>
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                                        <li class="dropdown-header">Profilo</li>
                                        <li><a href="/tuo-profilo/">Modifica dati</a></li>
                                        {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                        {% else %}

                                            <li class="dropdown-header">Gestione Articoli</li>
                                            <li><a href="/archivio/list/articoli">Lista Articoli</a></li>
                                            <li><a href="/segnalazione-portolano/list">Gestione Portolano Online</a>
                                            </li>
                                            <li class="dropdown-header">Gestione Porti</li>
                                            <li><a href="/porti/list">Lista</a></li>
                                            <li class="dropdown-header">Gestione Nodi</li>
                                            <li><a href="/nodi/list">Lista</a></li>
                                            <li class="dropdown-header">Gestione Media</li>
                                            <li><a href="/foto/list">FotoGallery</a></li>
                                            <li><a href="/video/list">VideoGallery</a></li>
                                            <li><a href="/cms/list">Pagine CMS</a></li>
                                            <li><a href="/menu/list">Menù</a></li>
                                            <li><a href="/nodomenu/list">Nodi Menù</a></li>
                                            <li><a href="/newsletter/">Newsletter</a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="list-inline" id="menu-login">

                            <li class="dropdown bordered" style="padding-right: 11px;" id="menuLogin">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"
                                   style="border:none">ACCEDI</a>

                                <div class="dropdown-menu" style="">
                                    <form method="post" action="/login_check">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" required="required" value="" name="_username"
                                                   id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" required="required" name="_password" id="password">
                                        </div>
                                        <div class="form-group">

                                            <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                            <label for="remember_me">Ricordami</label>
                                        </div>
                                        <!--  <input type="hidden" name="_target_path" value="{{ app.request.get('_route') }}" />
-->
                                        <button type="submit" class="btn btn-default login hvr-glow">Accedi</button>
                                        <a href="/resetting/request">Dimenticato la password?</a>
                                    </form>

                                    <div class="divisore"></div>
                                    <span style="color:white;text-align:center;float:left;width:100%;margin-bottom:10px">oppure</span>
                                    <a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
                                </div>
                            </li>
                            <li class="bordered"><a href="/register">REGISTRATI</a></li>
                        </ul>



                    {% endif %}

                </div>
            </div>


        </div>
        <!-- /.container-fluid -->
    </nav>


    {% block body %}{% endblock %}
</div>

<div class="container-fluid " style="background:white;padding-top:20px">
    <div class="container">


        <div class="row clearfix hidden-print">
            <div class="col-md-6 column">
                <div class="box-grande">
                    <h3>Iscriviti alla newsletter</h3>


                    <form method="post" name="newsletter" action="/iscritti-newsletter">
                        <div class="form-group">
                            <label for="username">Nome:</label>
                            <input type="text" required="required" value="" name="nome"
                                   id="nome">
                        </div>
                        <div class="form-group">
                            <label for="password">Email:</label>
                            <input type="email" style="width:100%" required="required" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="1" name="_remember_me" id="remember_me">
                            <label for="remember_me">Accetto le condizioni di privacy</label>
                        </div>

                        <button type="submit" class="btn btn-default login hvr-glow">Iscriviti alla newsletter</button>
                    </form>

                </div>
            </div>
            <div class="col-md-6 column box-footer">
                <div class="row clearfix ">
                    <div class="col-md-12 column">
                        <h2>Resta sempre aggiornato<br>sul mondo della vela</h2>
                        seguici anche sui nostri social network per ricevere news, comunicati e tanto altro!
                        <div class="divisore-big"></div>
                    </div>
                </div>

                <div class="row clearfix social">
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore"></div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
                <div class="text-center">
                    <div class="logo">
                        <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                    </div>
                    <p>Velaforfun, IDI CHE-247.845.224, Via Livio 14 - 6830 Venezia (ITALIA), Tel. 0041 091 690 19
                        19 -
                        ©
                        2015 Velaforfun</p>

                    <p>
                        {% set menu= menu("footer_menu") %}

                        {% for nodo in menu %}
                            <a href="{{ nodo.link }}" target="{{ nodo.action }}">{{ nodo.nome }}</a>
                            {% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="loginFacebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Accedi con Facebook</h4>

            </div>
            <div class="modal-body"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="meteoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-header">
                    <div class="row clearfix ">
                        <div class="col-md-12 column ">
                            <div class="row clearfix ">
                                <div class="col-md-11 column ">


                                    <h4 class="modal-title">Il Meteo di Velaforfun</h4>
                                </div>

                                <div class="col-md-1 column ">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix ">
                    <div style="font-size: 70px;text-align:center;width:100%;margin-top:50px">

                    <i class="fa fa-spinner fa-2x fa-spin "
                        id="loading"></i>

                </div>
                    <div class="col-md-12 column hide" id="contenuto">
                        <div class="col-md-6 column ">
                            <div class="container-mappa">
                                <div id='mappaMeteo'></div>

                            </div>
                        </div>


                        <div class="col-md-6 column ">
                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <h4
                                            style="padding-left:0px;float:left;">
                                        Cerca la tua destinazione!
                                    </h4>

                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <p style="margin-top:10px;font-size:18px">Cerca un luogo in mare, ottieni le
                                        previsioni!</p>

                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column porto-meteo" style="background: none !important">
                                    <div class="over-box">
                                        <form name="cerca_porti" id="formCercaPorto3" action="/porti/{permalink}"
                                              method="GET">
                                            <div class="form-group">
                                                <div class="inner-addon left-addon">
                                                    <a onclick="$('#formCercaPorto3').submit();" href="#"><i
                                                                class="fa fa-search"></i></a>
                                                    <input type="search" placeholder="cerca un porto..."
                                                           class="form-control"
                                                           id="selectPorto3" autocomplete="off">
                                                </div>

                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <div class="divisore-big background-white"></div>

                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <h4 style="margin-top:20px">La tua posizione</h4>


                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <h4 id="meteo-localized-nome-2"
                                        style="padding-left:0px;float:left;margin-top:10px"></h4>

                                </div>
                            </div>


                            <div id="meteo-localized-box-2">


                                <div class="row clearfix">


                                    <div class="col-md-4 column">

                                        <i class="wi "
                                           id="meteo-localized-icon-2"> </i>


                                    </div>


                                    <div class="col-md-8 column ">


                                        <div class="row clearfix">

                                            <div class="col-md-12 column">
                                                <h4>
                                                            <span
                                                                    class=""
                                                                    id="meteo-localized-temperatura-2"> </span></h4>
                                            </div>


                                        </div>


                                        <div class="row clearfix">

                                            <div class="col-md-2 column">
                                                <p style="margin:0" class="">UMIDITA'</p>
                                            </div>


                                            <div class="col-md-4 column">
                                                <div id="meteo-localized-umidita-2" class=""
                                                     style="margin-bottom: 10px;">%
                                                </div>
                                            </div>

                                            <div class="col-md-2 column">
                                                <p style="margin:0"><i
                                                            class="wi wi-strong-wind "></i>
                                                </p>
                                            </div>

                                            <div class="col-md-4 column">
                                                <div id="meteo-localized-vento-2"
                                                     style="margin-bottom: 10px;" class="">
                                                    km/h
                                                </div>
                                            </div>


                                        </div>


                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <script language="javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script language="javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>

    <script src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script>
    <script src="http://jscrollpane.kelvinluck.com/script/mwheelIntent.js"></script>
    <script src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js"></script>


    <script src="{{ asset('bundles/app/js/form.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-select.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <!--
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script> -->


    <!-- Redactor is here -->

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>


    <link rel="stylesheet" href="/redactor/redactor.css"/>



    {% if form is defined %}
        <script src="/redactor/redactor.js"></script>
        <script language="javascript">

            $(document).ready(function () {

                if ($('[ name="{{ form.vars.full_name }}"]').length > 0) {

                    $('textarea.editor,#appbundle_paginastatica_content,#blogbundle_articolo_ricetta').redactor({
                        imageUpload: '/redactor/image_upload.php',
                        fileUpload: '/redactor/file_upload.php',
                        imageGetJson: '/redactor/json/data.json'
                    });

                }

                if ($("#Post textarea,#blogbundle_articolo textarea").length > 0) {
                    $('textarea').redactor({
                        imageUpload: '/images/upload',
                        fileUpload: '/images/upload',
                        imageGetJson: '/images/list'
                    });
                }

                var forms = [
                    '[ name="{{ form.vars.full_name }}"]',
                    '[name="newsletter"]'
                ];


                $(forms.join(',')).submit(function (e) {
                    e.preventDefault();
                    var form = $(this)
                    form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                    form.find("input[type='submit'].show,button.show,a.show,i.show,span.show").addClass("hide").removeClass("show");
                    form.find(".fa-spinner").toggleClass("hide");

                    var errorMessage = "Errore nella creazione!";
                    var successMessage = "Creato con successo!";
                    if ($("#successMessage").length > 0) {
                        successMessage = $("#successMessage").val();
                    }
                    if ($("#errorMessage").length > 0) {
                        errorMessage = $("#errorMessage").val();
                    }
                    postForm($(this), function (response) {
                        if (response.success == true) {
                            showalert(form, successMessage, "success")
                        } else {
                            showalert(form, errorMessage, "error")
                        }
                        form.find('input[type="submit"],button').removeAttr('disabled');
                        if (form.find(".callback").length > 0) {
                            var callbackFunction = form.find(".callback").val();
                            window[callbackFunction](response);
                        }

                    });
                    form.find("input[type='submit'].hide,button.hide,a.hide,i.hide,span.hide").addClass("show").removeClass("hide");
                    form.find(".fa-spinner").toggleClass("hide");
                    form.find('input[type="submit"],button,a').removeAttr('disabled');
                    return false;
                });


            });
        </script>

    {% else %}
        <script language="javascript">
            $(document).ready(function () {


                $('form[name="newsletter"]').submit(function (e) {
                    e.preventDefault();
                    var form = $(this)
                    form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                    form.find("input[type='submit'].show,button.show,a.show,i.show,span.show").addClass("hide").removeClass("show");
                    form.find(".fa-spinner").toggleClass("hide");

                    var errorMessage = "Errore nella creazione!";
                    var successMessage = "Creato con successo!";
                    if ($("#successMessage").length > 0) {
                        successMessage = $("#successMessage").val();
                    }
                    if ($("#errorMessage").length > 0) {
                        errorMessage = $("#errorMessage").val();
                    }
                    postForm($(this), function (response) {
                        if (response.success == true) {
                            showalert(form, successMessage, "success")
                        } else {
                            showalert(form, errorMessage, "error")
                        }
                        form.find('input[type="submit"],button').removeAttr('disabled');
                        if (form.find(".callback").length > 0) {
                            var callbackFunction = form.find(".callback").val();
                            window[callbackFunction](response);
                        }

                    });
                    form.find("input[type='submit'].hide,button.hide,a.hide,i.hide,span.hide").addClass("show").removeClass("hide");
                    form.find(".fa-spinner").toggleClass("hide");
                    form.find('input[type="submit"],button,a').removeAttr('disabled');
                    return false;
                });
            });
        </script>

    {% endif %}



    {% block javascripts %}{% endblock %}
</body>
</html>
