<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | VelaForFun</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/social.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" //cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colori.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/scrollPane.css') }}">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>

<body>

<div class="container">


    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" style="padding:0"> <img src="/bundles/app/images/logo.png" width="60"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown
                            <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <nav class="navbar navbar-default navbar-fixed-top visible-md visible-lg" id="nav-top">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"> <i class="fa fa-bars fa-lg"></i> <strong>Tutte le sezioni</strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="bordered blue" href="#">News di Vela</a></li>
                                <li><a href="#">Portolano Online</a></li>
                                <li><a href="#">I porti d'Italia</a></li>
                                <li><a href="#">Dizionario Velico</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">I nodi Marinari</a></li>
                                <li><a href="#">Codice internazionale</a></li>
                                <li class="divider"></li>
                                <li class="form">
                                    <form method="GET">
                                        <div class="right-inner-addon">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                            <input type="search"
                                                   class="form-control"
                                                   placeholder="cerca un termine..."/>
                                        </div>
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                                <li class="divider"></li>
                                <li>
                                    <div class="social-menu">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>

                                        <p>© 2015 Velaforfun</p>
                                    </div>


                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 column">

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="logo">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                                        </div>
                                        <div class="back">
                                            <a href="/"> <img src="/bundles/app/images/logo.png" width="50"></a>
                                            <ul class="list-inline">
                                                <li><a href="/porti">Porti Italiani</a></li>
                                                <li><a href="/portolano-online">Portolano Online</a></li>
                                                <li><a href="/chi-siamo">Chi Siamo</a></li>
                                                <li><a href="/contatti">Contatti</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 column ">

                    {% if is_granted('ROLE_USER') %}


                        <div class="dropdown" id="profileMenu">
                            <a class="dropdown-toggle" id="dropdownMenu1"
                               data-toggle="dropdown" aria-expanded="true">
                                {% if app.user.profilePicturePath == "" and app.user.getFacebookId() !="" %}
                                    <img class="avatar-small"
                                         src="http://graph.facebook.com/{{ app.user.getFacebookId() }}/picture?type=square"
                                         alt="avatar"/>

                                {% else %}

                                    {% if app.user.profilePicturePath != "" %}
                                        <img class="avatar-small"
                                             src="/uploads/utenti/profilo/{{ app.user.profilePicturePath }}"
                                             alt="avatar"/>
                                    {% else %}
                                        <img class="avatar-small"
                                             src="/uploads/utenti/profilo/default_avatar.jpg"
                                             alt="avatar"/>
                                    {% endif %}
                                {% endif %}


                                <div style="padding-top:30px">
                                    <span> {{ app.user.username }}</span>
                                    <span class="caret"></span>
                                </div>

                            </a>

                            {% if not is_granted('ROLE_SUPER_ADMIN') %}

                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuo-profilo">
                                        <i class="fa fa-user"></i>
                                        Il tuo profilo</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuoi-annunci">
                                        <i class="fa fa-pencil"></i>
                                        I tuoi annunci</a>
                                </li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                        <i class="fa fa-sign-out"></i>
                                        Esci</a>
                                </li>
                            </ul>
                            {% else %}
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">


                                    <li class="dropdown-header">Gestione Articoli</li>
                                    <li><a href="/archivio/articolo/crea">Crea nuovo</a></li>
                                    <li><a href="/archivio/articolo/list">Lista</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Gestione Porti</li>
                                    <li><a href="/porti/crea">Crea nuovo</a></li>
                                    <li><a href="/porti/list">Lista</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Gestione Nodi</li>
                                    <li><a href="/nodi/crea">Crea nuovo</a></li>
                                    <li><a href="/nodi/list">Lista</a></li>

                                    <li class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>

                            {% endif %}



                        </div>
                    {% else %}
                        <ul class="list-inline" id="menu-login">
                            <li style="padding-left:0px"><span>Sei già iscritto?</span></li>
                            <li class="dropdown bordered" id="menuLogin">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"
                                   style="border:none">ACCEDI</a>

                                <div class="dropdown-menu" style="">
                                    <form method="post" action="/login_check">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" required="required" value="" name="_username"
                                                   id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" required="required" name="_password" id="password">
                                        </div>
                                        <div class="form-group">

                                            <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                            <label for="remember_me">Ricordami</label>
                                        </div>
                                        <button type="submit" class="btn btn-default login hvr-glow">Accedi</button>
                                    </form>

                                    <div class="divisore"></div>
                                    <p class="menu-separator"><span>oppure</span></p>
                                    <a href="http://local.velaforfun.dev/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
                                </div>
                            </li>
                            <li class="bordered"><a href="/register">REGISTRATI</a></li>
                        </ul>



                    {% endif %}


                </div>
            </div>


        </div>
        <!-- /.container-fluid -->
    </nav>


    {% block body %}{% endblock %}
</div>

<div class="container-fluid" style="background:white;padding-top:20px">
    <div class="container">


        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="box-grande">

                </div>
            </div>
            <div class="col-md-6 column box-footer">
                <div class="row clearfix ">
                    <div class="col-md-12 column">
                        <h2>Quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</h2>
                        rem aperiam, eaque ipsa
                        qe veritatis et quasi architecto.
                        QUAE AB ILLO INVENTORE VERITATIS ET QUASI ARCHITECTO BEATAE VITAE DICTA.
                        <div class="divisore-big"></div>
                    </div>
                </div>

                <div class="row clearfix social">
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="hvr-glow"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore"></div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
                <div class="text-center">
                    <div class="logo">
                        <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                    </div>
                    <p>Velaforfun, IDI CHE-247.845.224, Via Livio 14 - 6830 Venezia (ITALIA), Tel. 0041 091 690 19
                        19 -
                        ©
                        2015 Velaforfun</p>

                    <p><a href="#">Sicurezza dei dati e Privacy</a> | <a href="#">Team editoriale</a> | <a href="#">Linea
                            editoriale</a> | <a href="#">Come contattarci</a></p>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="loginFacebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Accedi con Facebook</h4>

            </div>
            <div class="modal-body"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script language="javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script language="javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/app/js/bootstrap3-typeahead.min.js') }}"></script>

<script src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/mwheelIntent.js"></script>
<script src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js"></script>


<script src="{{ asset('bundles/app/js/form.js') }}"></script>
<script src="{{ asset('bundles/app/js/main.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>




{% if form is defined %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script></script>

    <script language="javascript">
        $(document).ready(function () {

            if($("#blogbundle_articolo_testo").length>0){
                tinymce.init({
                    language_url: '/bundles/app/js/languages/it.js',
                    selector: '#blogbundle_articolo_testo',
                    plugins: ["textcolor","image"],
                    file_picker_callback: function(callback, value, meta) {
                        // Provide file and text for the link dialog
                        if (meta.filetype == 'file') {
                            callback('mypage.html', {text: 'My text'});
                        }

                        // Provide image and alt text for the image dialog
                        if (meta.filetype == 'image') {
                            callback('myimage.jpg', {alt: 'My alt text'});
                        }

                        // Provide alternative source and posted for the media dialog
                        if (meta.filetype == 'media') {
                            callback('movie.mp4', {source2: 'alt.ogg', poster: 'image.jpg'});
                        }
                    },
                    toolbar: "undo redo | styleselect | bold italic | link image | forecolor backcolor"
                });
            }

            var forms = [
                '[ name="{{ form.vars.full_name }}"]'
            ];


            $(forms.join(',')).submit(function (e) {
                e.preventDefault();
                var form = $(this)
                form.find('input[type="submit"],button').attr('disabled', 'disabled');
                postForm($(this), function (response) {
                    if (response.success == true) {
                        showalert(form, "Creato con successo!", "success")
                    } else {
                        showalert(form, "Errore nella creazione", "error")
                    }
                    form.find('input[type="submit"],button').removeAttr('disabled');
                });

                return false;
            });


        });
    </script>

{% endif %}



{% block javascripts %}{% endblock %}
</body>
</html>
