<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | VelaForFun</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/normalize.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="/redactor/redactor.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/hover-min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/social.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=" //cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css">

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colori.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/scrollPane.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-lightbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/colorbox.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-datetimepicker.min.css') }}">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>


    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% block stylesheets %}{% endblock %}
    <link rel="icon"
          type="image/png"
          href="{{ asset('/bundles/app/images/logo.png') }}">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-113151-1', 'auto');
        ga('send', 'pageview');

    </script>
    <meta name="google-site-verification" content="KPVPTmimidrZFuWa3BHo-nmCA-WAfEgkLcdaHBangOE" />
</head>

<body>


<div class="container">


    <nav class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg ">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="padding:0"> <img src="/bundles/app/images/logo.png" width="60"></a>


                <a data-toggle="modal" href="#" data-target="#meteoModal" id="mobile-localized">

                    <i class="fa fa-location-arrow foreground-celeste" id="mobile-localized-arrow"></i>
                    <i class="fa fa-spinner fa-pulse" style="" id="loadingMeteoMobile"></i>
                    <span id="mobile-localized-city" style="display:none"></span>

                </a>


            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">

                    {% set subMenu= menu("main_menu") %}
                    {% for nodo in subMenu %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" {% if nodo.colore !="" %}class="bordered "
                               style="border-color:{{ nodo.colore }};"{% endif %}
                               tabindex="-1" href="
                                                                {% if nodo.link !="" %}{{ nodo.link }}{% else %}#{% endif %}">{{ nodo.nome }}
                                {% if nodo.children|length > 0 %}
                                    <i class="fa fa-arrow-right pull-right"></i>
                                {% endif %}
                            </a>
                            {% if nodo.children|length > 0 %}
                                <ul class="dropdown-menu">
                                    {% for figlio in nodo.children %}
                                        <li><a {% if nodo.colore !="" %}class="bordered "
                                               style="border-color:{{ nodo.colore }};"{% endif %} href="
                                                                {% if nodo.link !="" %}{{ nodo.link }}{% else %}#{% endif %}">{{ nodo.nome }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mondo della vela<i
                                    class="fa fa-arrow-right pull-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/archivio/news-vela">News di vela</a></li>
                            <li><a href="/archivio/notizie-lampo">Notizie lampo</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<i
                                    class="fa fa-arrow-right pull-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/forum/velaforfun">Forum</a></li>
                            <li><a href="/annuncio">Compro Vendo</a></li>
                            <li><a href="/annuncio-imbarco">Imbarco Offro/Cerco</a></li>
                            <li><a href="/annuncio-scambio-posto">Scambio posto Barca</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Andare per Mare<i
                                    class="fa fa-arrow-right pull-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/porti">I porti Italiani</a></li>
                            <li><a href="/segnalazione-portolano">Portolano Online</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archivi<i
                                    class="fa fa-arrow-right pull-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/nomi-barca">Nomi barca</a></li>
                            <li><a href="/nodi">I nodi</a></li>
                            <li><a href="/ricette">Ricette da cambusa</a></li>
                            <li><a href="/codice-internazionale">Codice internazionale</a></li>
                            <li><a href="/video">Dizionario Velico</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Multimedia<i
                                    class="fa fa-arrow-right pull-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/foto">Archivio Fotografico</a></li>
                            <li><a href="/video">Galleria Video</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}


                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownMenu1Tablet"
                               data-toggle="dropdown" aria-expanded="true">

                                <div>
                                    <span> {{ app.user.username }}</span>
                                    <span class="caret"></span>
                                </div>

                            </a>

                            {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuo-profilo">
                                            <i class="fa fa-user"></i>
                                            Il tuo profilo</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/tuoi-annunci">
                                            <i class="fa fa-pencil"></i>
                                            I tuoi annunci</a>
                                    </li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>
                            {% else %}
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1Tablet">

                                    <li><a href="/forum/admin">Gestione Forum</a></li>
                                    <li class="dropdown-header">Gestione Articoli</li>
                                    <li><a href="/archivio/articoli/crea">Crea nuovo</a></li>
                                    <li><a href="/archivio/list/articoli">Lista</a></li>

                                    <li class="dropdown-header">Gestione Porti</li>
                                    <li><a href="/porti/crea">Crea nuovo</a></li>
                                    <li><a href="/porti/list">Lista</a></li>
                                    <li class="dropdown-header">Gestione Nodi</li>
                                    <li><a href="/nodi/crea">Crea nuovo</a></li>
                                    <li><a href="/nodi/list">Lista</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">
                                            <i class="fa fa-sign-out"></i>
                                            Esci</a>
                                    </li>
                                </ul>

                            {% endif %}


                        </div>
                    {% else %}

                        <ul class="list-inline" id="menu-login2">
                            <li class="bordered" style="margin-left: 10px"><a href="/login">Accedi</a></li>
                            <li class="bordered"><a href="/register">Registrati</a></li>

                        </ul>




                    {% endif %}

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <nav class="navbar navbar-default navbar-fixed-top visible-md visible-lg " id="nav-top">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-4 column ">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            {% set subMenu= menu("main_menu") %}

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"> <i class="fa fa-bars fa-lg"></i> <strong>Tutte le sezioni</strong></a>
                            <ul class="dropdown-menu" role="menu">


                                {% for nodo in subMenu %}

                                    <li class="dropdown {% if nodo.children|length > 0 %}-submenu{% endif %}"><a {% if nodo.colore !="" %}class="bordered "
                                                                    style="border-color:{{ nodo.colore }};"{% endif %}
                                                                    tabindex="-1" href="
                                                                {% if nodo.link !="" %}{{ nodo.link }}{% else %}#{% endif %}">{{ nodo.nome }}</a>
                                        {% if nodo.children|length > 0 %}
                                            <ul class="dropdown-menu">
                                                {% for figlio in nodo.children %}
                                                    <li><a {% if figlio.colore !="" %}class="bordered "
                                                           style="border-color:{{ figlio.colore }};"{% endif %} href="
                                                                {% if nodo.link !="" %}{{ figlio.link }}{% else %}#{% endif %}">{{ figlio.nome }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                                <li class="dropdown-submenu"><a tabindex="-1" href="#">Mondo della vela</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/archivio/news-vela">News di vela</a></li>
                                        <li><a href="/archivio/notizie-lampo">Notizie lampo</a></li>
                                    </ul>
                                </li>


                                <li class="dropdown-submenu"><a tabindex="-1" href="#">Community</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/forum/velaforfun">Forum</a></li>
                                        <li><a href="/annuncio">Compro Vendo</a></li>
                                        <li><a href="/annuncio-imbarco">Imbarco Offro/Cerco</a></li>
                                        <li><a href="/annuncio-scambio-posto">Scambio posto Barca</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"><a tabindex="-1" href="#">Andare per Mare</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/porti">I porti Italiani</a></li>
                                        <li><a href="/segnalazione-portolano">Portolano Online</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"><a tabindex="-1" href="#">Archivi</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/nomi-barca">Nomi barca</a></li>
                                        <li><a href="/nodi">I nodi</a></li>
                                        <li><a href="/ricette">Ricette da cambusa</a></li>
                                        <li><a href="/codice-internazionale">Codice internazionale</a></li>
                                        <li><a href="/video">Dizionario Velico</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu"><a tabindex="-1" href="#">Multimedia</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/foto">Archivio Fotografico</a></li>
                                        <li><a href="/video">Galleria Video</a></li>
                                    </ul>
                                </li>


                                <li class="divider"></li>
                                <li class="form">

                                    <form method="get" action="/cerca" id="cerca-form-header">
                                        <div class="form-group" style="margin-bottom: 0px">
                                            <div class="inner-addon left-addon">
                                                <a href="#" style="top:inherit;color:white;border-color:white"
                                                   onclick="event.preventDefault();$('#cerca-form-header').submit()"><i
                                                            class="fa fa-search"></i></a>
                                                <input style="background:rgb(61,144,173);color:white" name="key"
                                                       type="search"
                                                       class="form-control"
                                                       placeholder="" value="cerca un termine..."
                                                       onClick="$(this).val('');$(this).attr('value','');"/>
                                            </div>


                                        </div>
                                    </form>
                                </li>
                                <lI>

                                    <div class="row clearfix">
                                        <div class="col-md-12 column ">

                                            <div class="row clearfix">

                                                <div class="col-md-12 column">
                                                    <h4 class="foreground-celeste"
                                                        style="padding-left:0px;margin-top:10px">METEO</h4>
                                                </div>
                                            </div>
                                            <div id="meteo-localized-box" class="hide">

                                                <button class="btn btn-primary" onclick="$('#meteoModal').modal()"
                                                        style="width:100%;">
                                                    VISUALIZZA IL METEO
                                                </button>

                                            </div>

                                            <div class="row clearfix" id="div-localized">

                                                <div class="col-md-12 column">
                                                    <button class="btn btn-primary" onclick="localizzami()"
                                                            style="width:100%;margin-top:10px;margin-bottom:10px">
                                                        Localizzami
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </lI>
                                <li class="divider"></li>

                                <li>
                                    <div class="social-menu">
                                        <a href="https://www.facebook.com/VelaForFun" target="_blank"><i
                                                    class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>

                                        <p>© 2015 Velaforfun</p>
                                    </div>


                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 column">

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="logo">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                                        </div>
                                        <div class="back">
                                            <a href="/"> <img src="/bundles/app/images/logo.png" width="50"></a>

                                            {% set subMenu= menu("sub_menu") %}

                                            <ul class="list-inline">
                                                {% for nodo in subMenu %}
                                                    <li><a href="{{ nodo.link }}"
                                                           target="{{ nodo.action }}">{{ nodo.nome }}</a></li>

                                                    {% if  not loop.last %}
                                                        <li style="padding:0px 0px 0px 0px">|</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 column ">

                    {% if is_granted('ROLE_USER') %}
                        <ul class="list-inline" id="menu-login">

                            <li class="bordered"
                                style="padding-right: 15px;border-right: 1px solid rgb(153, 153, 153);">
                                <a href="/logout">Esci</a>
                            </li>
                            <li>
                                <div class="dropdown" id="profileMenu">
                                    <a class="dropdown-toggle" id="dropdownMenu1"
                                       data-toggle="dropdown" aria-expanded="true">

                                        {% if app.user.profilePicturePath == "" and app.user.getFacebookId() !="" %}
                                            <img class="avatar-small"
                                                 src="http://graph.facebook.com/{{ app.user.getFacebookId() }}/picture?type=square"
                                                 alt="avatar"/>

                                        {% else %}

                                            {% if app.user.profilePicturePath != "" %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/{{ app.user.profilePicturePath }}"
                                                     alt="avatar"/>
                                            {% else %}
                                                <img class="avatar-small"
                                                     src="/uploads/utenti/profilo/default_avatar.png"
                                                     alt="avatar"/>
                                            {% endif %}
                                        {% endif %}
                                        <span class="username"> <strong>{{ app.user.username }}</strong></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                                        <li class="dropdown-header">Profilo</li>
                                        <li><a href="/tuo-profilo/">Modifica dati</a></li>
                                        {% if not is_granted('ROLE_SUPER_ADMIN') %}

                                        {% else %}
                                            <li><a href="/utenti/list">Lista Utenti</a></li>
                                            <li><a href="/forum/admin">Gestione Forum</a></li>
                                            <li><a href="/archivio/list/articoli">Lista Articoli</a></li>
                                            <li><a href="/archivio/list/ricette">Lista Ricette</a></li>
                                            <li><a href="/archivio/list/comunicati">Lista Comunicati</a></li>
                                            <li><a href="/segnalazione-portolano/list">Gestione Portolano Online</a>
                                            </li>
                                            <li><a href="/porti/list">Gestione Porti</a></li>
                                            <li><a href="/nodi/list">Gestione Nodi</a></li>

                                            <li><a href="/galleria-foto/list">FotoGallery</a></li>
                                            <li><a href="/foto/list">Gestione foto</a></li>
                                            <li><a href="/video/list">VideoGallery</a></li>
                                            <li><a href="/cms/list">Pagine CMS</a></li>
                                            <li><a href="/menu/list">Menù</a></li>
                                            <li><a href="/newsletter/">Newsletter</a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="list-inline" id="menu-login">

                            <li class="dropdown bordered" style="padding-right: 11px;" id="menuLogin">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"
                                   style="border:none">ACCEDI</a>

                                <div class="dropdown-menu" style="">
                                    <form method="post" action="/login_check">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" required="required" value="" name="_username"
                                                   id="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" required="required" name="_password" id="password">
                                        </div>
                                        <div class="form-group">

                                            <input type="checkbox" value="on" name="_remember_me" id="remember_me"
                                                   style="float:left;display:inline">
                                            <label for="remember_me" style="display:inline">Ricordami</label>
                                        </div>
                                        <button type="submit" class="btn btn-default login hvr-glow">Accedi</button>
                                        <a href="/resetting/request">Dimenticato la password?</a>
                                    </form>

                                    <div class="divisore"></div>
                                    <span style="text-align:center;float:left;width:100%;margin-bottom:10px">oppure</span>
                                    <a href="/secure_area/connect/facebook"
                                       class="btn btn-block btn-social btn-sm btn-facebook"
                                       id="loginFacebook">
                                        <i class="fa fa-facebook"></i>
                                        Accedi con Facebook
                                    </a>
                                </div>
                            </li>
                            <li class="bordered"><a href="/register">REGISTRATI</a></li>
                        </ul>



                    {% endif %}

                </div>
            </div>


        </div>
        <!-- /.container-fluid -->
    </nav>


    {% block sidebar %}
    {% endblock %}
    <div style="margin-bottom: 30px" class="hidden-xs hidden-md"></div>

    {% block body %}{% endblock %}
</div>

<div class="container-fluid " style="background:white;padding-top:20px">
    <div class="container">


        <div class="row clearfix hidden-print">
            <div class="col-md-6 column">
                <div class="box-grande">
                    <h3>Iscriviti alla newsletter</h3>


                    <form method="post" name="newsletter" action="/iscritti-newsletter">
                        <div class="form-group">
                            <label for="username">Nome:</label>
                            <input type="text" required="required" value="" name="nome"
                                   id="nome">
                        </div>
                        <div class="form-group">
                            <label for="password">Email:</label>
                            <input type="email" style="width:100%" required="required" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" value="1" name="_remember_me" id="remember_me">
                            <label for="remember_me">Accetto le condizioni di privacy</label>
                        </div>

                        <button type="submit" class="btn btn-default login hvr-sweep-to-right">Iscriviti alla
                            newsletter
                        </button>
                    </form>

                </div>
            </div>
            <div class="col-md-6 column box-footer">
                <div class="row clearfix ">
                    <div class="col-md-12 column">
                        <h2>Resta sempre aggiornato<br>sul mondo della vela</h2>
                        seguici anche sui nostri social network per ricevere news, comunicati e tanto altro!
                        <div class="divisore-big"></div>
                    </div>
                </div>

                <div class="row clearfix social">
                    <div class="col-md-6 column">
                        <a href="https://www.facebook.com/VelaForFun" class="hvr-glow"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/velaforfun" class="hvr-glow"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-md-6 column">
                        <a href="#" class="hvr-glow"><i class="fa fa-google-plus"></i></a>
                        <a href="/contatti" class="hvr-glow"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore"></div>
            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
                <div class="text-center">
                    <div class="logo">
                        <a href="/"> <img src="/bundles/app/images/logotipo-01.png" width="250"></a>
                    </div>
                    <p>Velaforfun, IDI CHE-247.845.224, Via Livio 14 - 6830 Venezia (ITALIA), Tel. 0041 091 690 19
                        19 -
                        ©
                        2015 Velaforfun</p>

                    <p>
                        {% set menu= menu("footer_menu") %}

                        {% for nodo in menu %}
                            <a href="{{ nodo.link }}" target="{{ nodo.action }}">{{ nodo.nome }}</a>
                            {% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="loginFacebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Accedi con Facebook</h4>

            </div>
            <div class="modal-body"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="meteoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="modal-header">
                    <div class="row clearfix hidden-xs">
                        <div class="col-md-12 column ">
                            <div class="row clearfix ">
                                <div class="col-md-11 column ">


                                    <h4 class="modal-title">Il Meteo di Velaforfun</h4>
                                </div>

                                <div class="col-md-1 column ">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">x
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row clearfix hidden-mg hidden-lg">
                        <div class="col-md-1 column ">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">x
                            </button>

                        </div>
                    </div>
                    <div class="row clearfix hidden-mg hidden-lg">


                        <div class="col-md-12 column ">

                            <h4 class="modal-title hidden-lg hidden-md" style="font-size:24px">Il Meteo di
                                Velaforfun</h4>
                            <h4 class="modal-title hidden-xs">Il Meteo di Velaforfun</h4>

                        </div>


                    </div>


                </div>
                <div class="row clearfix ">

                    <div class="hidden-xs" style="font-size: 70px;text-align:center;width:100%;margin-top:50px">

                        <i class="fa fa-spinner fa-2x fa-spin "
                           id="loading"></i>

                    </div>

                    <div class="hidden-lg hidden-md" style="font-size: 70px;text-align:center;width:100%;">

                        <i class="fa fa-spinner fa-2x fa-spin "
                           id="loading"></i>

                    </div>
                    <div class="col-md-12 column hide" id="contenuto">
                        <div class="col-md-6 column ">
                            <div class="container-mappa">
                                <div id='mappaMeteo'></div>

                            </div>
                        </div>


                        <div class="col-md-6 column ">
                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <h4
                                            style="padding-left:0px;float:left;">
                                        Cerca la tua destinazione!
                                    </h4>

                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <p style="margin-top:10px;font-size:18px">Cerca un luogo in mare, ottieni le
                                        previsioni!</p>

                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column porto-meteo" style="background: none !important">
                                    <div class="over-box">
                                        <form name="cerca_porti" id="formCercaPorto3" action="/porti/{permalink}"
                                              method="GET">
                                            <div class="form-group">
                                                <div class="inner-addon left-addon">
                                                    <a onclick="$('#formCercaPorto3').submit();" href="#"><i
                                                                class="fa fa-search"></i></a>
                                                    <input type="search" placeholder="cerca un porto..."
                                                           class="form-control"
                                                           id="selectPorto3" autocomplete="off">
                                                </div>

                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <div class="divisore-big background-white"></div>

                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <h4 style="margin-top:20px">La tua posizione</h4>


                                </div>
                            </div>
                            <div class="row clearfix">

                                <div class="col-md-12 column">
                                    <h4 id="meteo-localized-nome-2"
                                        style="padding-left:0px;float:left;margin-top:10px"></h4>

                                </div>
                            </div>


                            <div id="meteo-localized-box-2">


                                <div class="row clearfix">


                                    <div class="col-md-4 column">

                                        <i class="wi "
                                           id="meteo-localized-icon-2"> </i>


                                    </div>


                                    <div class="col-md-8 column ">


                                        <div class="row clearfix">

                                            <div class="col-md-12 column">
                                                <h4>
                                                            <span
                                                                    class=""
                                                                    id="meteo-localized-temperatura-2"> </span></h4>
                                            </div>


                                        </div>


                                        <div class="row clearfix">

                                            <div class="col-md-2 col-xs-4 column">
                                                <p style="margin:0" class=""><i style="font-size: 38px;"
                                                                                class="fa fa-tint"></i></p>
                                            </div>


                                            <div class="col-md-4 col-xs-8 column">
                                                <div id="meteo-localized-umidita-2" class=""
                                                     style="margin-bottom: 10px;">%
                                                </div>
                                            </div>

                                            <div class="col-md-2 col-xs-4 column">
                                                <p style="margin:0"><i
                                                            class="wi wi-strong-wind "></i>
                                                </p>
                                            </div>

                                            <div class="col-md-4 col-xs-8 column">
                                                <div id="meteo-localized-vento-2"
                                                     style="margin-bottom: 10px;" class="">
                                                    km/h
                                                </div>
                                            </div>


                                        </div>


                                    </div>

                                </div>


                                <div class="row clearfix">
                                    <div class="col-md-12 column">

                                        <div class="divisore-big background-white"></div>
                                    </div>
                                </div>


                                <div class="row clearfix">
                                    <div class="col-md-3 col-xs-6 column">

                                        <div class="row clearfix meteo-futuro">
                                            <div class="col-md-12 column text-center">
                                                <i id="meteo-localized-icon-3"
                                                   class="wi  margined-bottom meteo-box-icon"> </i>
                                            </div>


                                            <div class="col-md-12 column">
                                                <h4><i class="fa fa-clock-o"></i><span
                                                            id="meteo-localized-time-3"></span></h4>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-3 col-xs-6 column">

                                        <div class="row clearfix meteo-futuro">
                                            <div class="col-md-12 column text-center">
                                                <i id="meteo-localized-icon-4"
                                                   class="wi  margined-bottom meteo-box-icon"> </i>
                                            </div>


                                            <div class="col-md-12 column">
                                                <h4><i class="fa fa-clock-o"></i><span
                                                            id="meteo-localized-time-4"></span></h4>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-3 col-xs-6 column">

                                        <div class="row clearfix meteo-futuro">
                                            <div class="col-md-12 column text-center">
                                                <i id="meteo-localized-icon-5"
                                                   class="wi  margined-bottom meteo-box-icon"> </i>
                                            </div>


                                            <div class="col-md-12 column">
                                                <h4><i class="fa fa-clock-o"></i><span
                                                            id="meteo-localized-time-5"></span></h4>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-md-3 col-xs-6 column">

                                        <div class="row clearfix meteo-futuro">
                                            <div class="col-md-12 column text-center">
                                                <i id="meteo-localized-icon-6"
                                                   class="wi  margined-bottom meteo-box-icon"> </i>
                                            </div>


                                            <div class="col-md-12 column">
                                                <h4><i class="fa fa-clock-o"></i><span
                                                            id="meteo-localized-time-6"></span></h4>

                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap3-typeahead.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.magnific-popup.min.js') }}"></script>

    <script type="text/javascript" src="http://jscrollpane.kelvinluck.com/script/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="http://jscrollpane.kelvinluck.com/script/mwheelIntent.js"></script>
    <script type="text/javascript" src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js"></script>


    <script type="text/javascript" src="{{ asset('bundles/app/js/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Redactor is here -->

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>


    {% if form is defined %}
        <script src="/redactor/redactor.js"></script>
        <script language="javascript">

            $(document).ready(function () {

                if ($('[ name="{{ form.vars.full_name }}"]').length > 0) {

                    $('textarea.editor,#appbundle_paginastatica_content,#blogbundle_articolo_ricetta').redactor({
                        imageUpload: '/redactor/image_upload.php',
                        fileUpload: '/redactor/file_upload.php',
                        imageGetJson: '/redactor/json/data.json'
                    });

                }

                if ($("#Post textarea,#blogbundle_articolo textarea,textarea#Post_body").length > 0) {
                    if (typeof getUrlParameter("quota") != "undefined") {

                        var idQuota = getUrlParameter("quota");

                        $.get('/forum-post/' + idQuota, function (data) {

                            $('#Post textarea,#blogbundle_articolo textarea,textarea#Post_body').append(data);


                            $('textarea').redactor({
                                imageUpload: '/images/upload',
                                fileUpload: '/images/upload',
                                imageGetJson: '/images/list'
                            }).setCode(data);

                        }, 'html');

                    } else {

                        $('textarea').redactor({
                            imageUpload: '/images/upload',
                            fileUpload: '/images/upload',
                            imageGetJson: '/images/list'
                        });


                    }


                }

                var forms = [
                    '[ name="{{ form.vars.full_name }}"]',
                    '[name="newsletter"]',
                    '[name=appbundle_nodomenu]'
                ];


                $(forms.join(',')).submit(function (e) {
                    e.preventDefault();
                    var form = $(this)
                    form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                    form.find("input[type='submit'].show,button.show,a.show,i.show,span.show").addClass("hide").removeClass("show");
                    form.find(".fa-spinner").toggleClass("hide");

                    var errorMessage = "Errore nella creazione!";
                    var successMessage = "Creato con successo!";
                    if ($("#successMessage").length > 0) {
                        successMessage = $("#successMessage").val();
                    }
                    if ($("#errorMessage").length > 0) {
                        errorMessage = $("#errorMessage").val();
                    }
                    postForm($(this), function (response) {
                        if (response.success == true) {
                            showalert(form, successMessage, "success")
                        } else {
                            showalert(form, errorMessage, "error")
                        }
                        form.find('input[type="submit"],button').removeAttr('disabled');
                        if (form.find(".callback").length > 0) {
                            var callbackFunction = form.find(".callback").val();
                            window[callbackFunction](response);
                        }

                    });
                    form.find("input[type='submit'].hide,button.hide,a.hide,i.hide,span.hide").addClass("show").removeClass("hide");
                    form.find(".fa-spinner").toggleClass("hide");
                    form.find('input[type="submit"],button,a').removeAttr('disabled');
                    return false;
                });


            });
        </script>

    {% else %}
        <script language="javascript">
            $(document).ready(function () {

                $('form[name="newsletter"]').submit(function (e) {
                    e.preventDefault();
                    var form = $(this)
                    form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                    form.find("input[type='submit'].show,button.show,a.show,i.show,span.show").addClass("hide").removeClass("show");
                    form.find(".fa-spinner").toggleClass("hide");

                    var errorMessage = "Errore nella creazione!";
                    var successMessage = "Creato con successo!";
                    if ($("#successMessage").length > 0) {
                        successMessage = $("#successMessage").val();
                    }
                    if ($("#errorMessage").length > 0) {
                        errorMessage = $("#errorMessage").val();
                    }
                    postForm($(this), function (response) {
                        if (response.success == true) {
                            showalert(form, successMessage, "success")
                        } else {
                            showalert(form, errorMessage, "error")
                        }
                        form.find('input[type="submit"],button').removeAttr('disabled');
                        if (form.find(".callback").length > 0) {
                            var callbackFunction = form.find(".callback").val();
                            window[callbackFunction](response);
                        }

                    });
                    form.find("input[type='submit'].hide,button.hide,a.hide,i.hide,span.hide").addClass("show").removeClass("hide");
                    form.find(".fa-spinner").toggleClass("hide");
                    form.find('input[type="submit"],button,a').removeAttr('disabled');
                    return false;
                });


                var forms = [
                    '[name="appbundle_annuncioimbarco"]',
                    '[name="appbundle_annuncioscambioposto"]'

                ];


                $(forms.join(',')).submit(function (e) {
                    e.preventDefault();
                    var form = $(this)
                    form.find('input[type="submit"],button,a').attr('disabled', 'disabled');

                    form.find("input[type='submit'].show,button.show,a.show,i.show,span.show").addClass("hide").removeClass("show");
                    form.find(".fa-spinner").toggleClass("hide");

                    var errorMessage = "Errore nella creazione!";
                    var successMessage = "Creato con successo!";
                    if ($("#successMessage").length > 0) {
                        successMessage = $("#successMessage").val();
                    }
                    if ($("#errorMessage").length > 0) {
                        errorMessage = $("#errorMessage").val();
                    }
                    postForm($(this), function (response) {
                        if (response.success == true) {
                            showalert(form, successMessage, "success")
                        } else {
                            showalert(form, errorMessage, "error")
                        }
                        form.find('input[type="submit"],button').removeAttr('disabled');
                        if (form.find(".callback").length > 0) {
                            var callbackFunction = form.find(".callback").val();
                            window[callbackFunction](response);
                        }

                    });
                    form.find("input[type='submit'].hide,button.hide,a.hide,i.hide,span.hide").addClass("show").removeClass("hide");
                    form.find(".fa-spinner").toggleClass("hide");
                    form.find('input[type="submit"],button,a').removeAttr('disabled');
                    return false;
                });


            });
        </script>

    {% endif %}



    {% block javascripts %}{% endblock %}

</body>
</html>
