{% extends 'base.html.twig' %}

{% block title %}Il portale italiano sulla vela{% endblock %}
{% block description %}Il portale italiano sulla vela da oltre 10 anni offre servizi di news, annunci imbarco, meteo, portolano online e tutti gli aggiornamenti sui porti italiani{% endblock %}

{% block stylesheets %}
    <link rel="canonical" href="http://www.velaforfun.com" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/smarticker.css') }}">

    <!--
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}"/>
-->
{% endblock %}


{% block javascripts %}
    <script type="text/javascript"
            src="{{ asset('bundles/app/js/smarticker.js') }}"></script>
    <!--
    <script type="text/javascript"
            src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script> -->

{% endblock %}



{% block body %}


    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="title">
                    Ultime News
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-8 column">


                <div class="article main-article">

                    <div class="content"
                         style="background-image: url('{{ getCopertina(articoli[0]) }}')">
                        <div class="category">
                            <a href="/archivio/{{ articoli[0].categoria.permalink }}"><span
                                        style="background:{{ articoli[0].categoria.getColore() }}">{{ articoli[0].categoria.nome|capitalize }}</span>
                            <span style="background:{{ articoli[0].categoria.getColore() }};   padding-left: 11px;
                                    padding-right: 11px;font-weight: bold;">+</span>
                            </a>
                        </div>
                        <div class="content-title">
                            <a href="/archivio/{{ articoli[0].categoria.permalink }}/{{ articoli[0].permalink }}">
                                <h3>{{ articoli[0].titolo }}</h3>
                                {% if articoli[0].sottotitolo!="" %}
                                    <div class="divisore hidden-xs"></div>
                                    <div class="subtitle hidden-xs" style="color:white">

                                        {{ articoli[0].sottotitolo|slice(0,250)|striptags }}...
                                    </div>
                                {% endif %}
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4 column">

                <div class="content">


                    {% if articoli[1] is defined %}
                        <a href="/archivio/{{ articoli[1].categoria.permalink }}/{{ articoli[1].permalink }}">
                            <div class="latest-news hvr-underline-from-left">
                                <div class="content">
                                    <h4>{{ articoli[1].titolo }}</h4>
                                    {% if articoli[1].sottotitolo!="" %}
                                        <p class="hidden-xs">  {{ articoli[1].sottotitolo|slice(0,80)|striptags }}
                                            ...</p>
                                    {% endif %}
                                </div>
                                <div class="arrow">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% if articoli[2] is defined %}
                        <a href="/archivio/{{ articoli[2].categoria.permalink }}/{{ articoli[2].permalink }}">
                            <div class="latest-news hvr-underline-from-left">
                                <div class="content">
                                    <h4>{{ articoli[2].titolo }}</h4>
                                    {% if articoli[2].sottotitolo!="" %}
                                        <p class="hidden-xs">    {{ articoli[2].sottotitolo|slice(0,80)|striptags }}
                                            ...</p>
                                    {% endif %}

                                </div>
                                <div class="arrow">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    {% if articoli[3] is defined %}
                        <a href="/archivio/{{ articoli[3].categoria.permalink }}/{{ articoli[3].permalink }}">
                            <div class="latest-news hvr-underline-from-left">
                                <div class="content">
                                    <h4>{{ articoli[3].titolo }}</h4>
                                    {% if articoli[3].sottotitolo!="" %}

                                        <p class="hidden-xs">{{ articoli[3].sottotitolo|slice(0,80)|striptags }}...</p>
                                    {% endif %}
                                </div>
                                <div class="arrow">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </div>
                            </div>
                        </a>
                    {% endif %}


                </div>
            </div>
        </div>

        <div class="row clearfix hidden-xs" style="margin-top:20px">
            <div class="col-md-12 column">
                <div class="smarticker6">
                    <ul>
                        {% for post in ultimiPost %}
                            <li data-category="ULTIME DAL FORUM" data-subcategory="{{ post.board.name }}"
                                data-color="58A7C3"><a href="/forum/velaforfun/topic/{{ post.id }}">{{ post.title }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix" style="margin-top:20px">
            <div class="col-md-4 column">

                <div class="box-home">
                    <div style="background-image: url(/images/5.jpg);"
                         class="divBackgroundImage">
                    </div>
                    <div class="content">

                        <div class="box-action">
                            <a href="/porti"><h2>I PORTI ITALIANI
                                </h2>
                            </a>

                            <div class="over-box">
                                Cerca il tuo porto fra i centinaia selezionati da Velaforfun
                                <form method="GET" action="/porti/{permalink}" id="formCercaPorto" name="cerca_porti">
                                    <div class="form-group">
                                        <div class="inner-addon left-addon">
                                            <a onclick="$('#formCercaPorto').submit();return false;"><i
                                                        class="fa fa-search"></i></a>
                                            <input autocomplete="off" id="selectPorto" type="search"
                                                   class="form-control"
                                                   placeholder="cerca un porto..."/>
                                        </div>


                                    </div>


                                </form>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
            <div class="col-md-4 column">
                <a href="/forum/velaforfun">
                    <div class="box-home">
                        <div style="background-image: url(/images/6.jpg);"
                             class="divBackgroundImage">
                        </div>
                        <div class="content">

                            <div class="box-no-action">
                                <h2>FORUM
                                </h2>

                            </div>


                        </div>

                    </div>
                </a>

            </div>
            <div class="col-md-4 column">
                <a href="/segnalazione-portolano">


                    <div class="box-home">
                        <div style="background-image: url(/images/2.jpg);"
                             class="divBackgroundImage">
                        </div>
                        <div class="content">

                            <div class="box-no-action">
                                <h2>PORTOLANO ONLINE
                                </h2>
                            </div>


                        </div>

                    </div>
                </a>
            </div>
        </div>


        <div class="row clearfix" style="margin-top:20px">
            <div class="col-md-4 column">
                <a href="/annuncio">

                    <div class="box-home">
                        <div style="background-image: url(/images/1.jpg);"
                             class="divBackgroundImage">
                        </div>
                        <div class="content">


                            <div class="box-no-action">
                                <h2>ANNUNCI CERCO/OFFRO
                                </h2>


                            </div>

                        </div>

                    </div>
                </a>

            </div>
            <div class="col-md-4 column">

                <div class="box-home">
                    <div style="background-image: url(/images/4.jpg);"
                         class="divBackgroundImage">
                    </div>
                    <div class="content">


                        <div class="box-action">
                            <a href="/nodi"><h2>I NODI VELICI
                                </h2>
                            </a>

                            <div class="over-box">
                                Cerca il nodo velico per vedere i dettagli
                                <form method="GET" action="/nodi/{permalink}" id="formCercaNodo" name="cerca_nodo">
                                    <div class="form-group">
                                        <div class="inner-addon left-addon">
                                            <a href="#" onclick="$('#formCercaNodo').submit();return false;"><i
                                                        class="fa fa-search"></i></a>
                                            <input autocomplete="off" id="selectNodo" type="search"
                                                   class="form-control"
                                                   placeholder="cerca un nodo..."/>
                                        </div>


                                    </div>


                                </form>

                            </div>


                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-4 column">

                <div class="box-home">
                    <div style="background-image: url(/images/3.jpg);"
                         class="divBackgroundImage">
                    </div>
                    <div class="content">

                        <div class="box-action">
                            <a href="/codice-internazionale"><h2>CODICE INTERNAZIONALE
                                </h2></a>

                            <div class="over-box">
                                <form method="GET" id="formTraduci" action="/codice-internazionale/{permalink}"
                                      name="cerca_porti">
                                    <div class="form-group">
                                        <label for="selectPorto">Inserisci la frase da codificare in codice
                                            morse</label>
                                        <input type="text" class="form-control"
                                               id="traduci" placeholder="Inserisci la frase">
                                    </div>
                                    <button class="btn btn-default dettagli-nodo hvr-glow" type="submit"
                                            style="margin-top:0px">TRADUCI
                                    </button>
                                </form>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore"></div>
            </div>
        </div>


    </div>


{% endblock %}
