{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block title %}
    {{ titolo }}
{% endblock %}



{% block body %}


    <!-- contenuto -->
<div class="row clearfix">

    <div class="col-md-12 column">
     <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>   <h1>{%   if titolo is defined %} {{ titolo }} {% endif %}</h1>
        </div>

        </div>

    </div>

    <div class="row clearfix">

        <div class="col-md-10 column crud" >





    {{ form_start(form) }}
    {{ form_widget(form) }}
       <div>
           <div class="span6" id="profilePictureDiv" style="margin-bottom: 20px;">
        {% if userInformation.profilePicturePath == "" and userInformation.getFacebookId() !="" %}
                                            <img
                                                 src="http://graph.facebook.com/{{ userInformation.getFacebookId() }}/picture?type=square"
                                                 alt="avatar"/>

                                        {% else %}

                                            {% if userInformation.profilePicturePath != "" %}
                                               <table><tr><td>
                                                  <img width="250"
                                                     src="/uploads/utenti/profilo/{{ userInformation.profilePicturePath }}"
                                                     alt="avatar"/>
                                                       <button class="btn btn-danger delete-entity" style="width:100%" data-route="/utenti/elimina-avatar/{{ userInformation.id }}" type="button">Elimina Avatar
        </button>
</td></tr></table>

                                            {% else %}
                                                <img
                                                     src="/uploads/utenti/profilo/default_avatar.png"
                                                     alt="avatar"/>
                                            {% endif %}
                                        {% endif %}
                                        </div>

                    <button type="submit" class="btn btn-default login hvr-sweep-to-right"> <i class="fa fa-spinner fa-2x fa-spin hide"></i><span class="show">Inserisci</span></button>
    </div>
        </form>

        </div>

    </div>
    <!-- fine contenuto -->

</div>

{% endblock %}
