{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block title %}
    {{ titolo }}
{% endblock %}

{% block javascripts %}
<script language="javascript">
    $(document).ready(function(){
        {% if entity.immagine is defined and entity.immagine!="" %}
        $("#blogbundle_articolo_profilePictureFile").parent().append(
                "<table><tr><td><img src='/images/articoli/{{ entity.immagine }}' width='150'> <button class='btn btn-danger delete-entity'  data-route='/archivio/articoli/elimina-immagine/{{ entity.id }}' type='button'>Elimina </button></td> </tr></table>"
        );
        {% endif %}
        {% if entity.immagineCorrelataArticolo is defined and entity.immagineCorrelataArticolo!="" %}
        $("#blogbundle_articolo_immagineCorrelata").parent().append(
          "<img src='/images/articoli/{{ entity.immagineCorrelataArticolo }}' width='150'>"
        );
        $("#blogbundle_articolo_textFileImage").parent().hide();
        {% endif %}
    });
    function eliminaFoto(id){
        $("#idFoto").val(id);
        $("#modalFoto .delete-entity").attr('data-route','/foto/elimina/'+id);
        $("#modalFoto").modal();
    }
</script>
{% endblock %}

{% block body %}


    <!-- contenuto -->
<div class="row clearfix">

    <div class="col-md-12 column">
     <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>   <h1>{%   if titolo is defined %} {{ titolo }} {% endif %}</h1>
        </div>

        </div>

    </div>

    <div class="row clearfix">

        <div class="col-md-10 column crud" >

{% if entity.id is defined %}
 <button type="button" data-route="../elimina/{{ entity.id }}"
                                    class="btn btn-danger delete-entity">Elimina
                            </button>
{% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}


       <div>

                    <button type="submit" class="btn btn-default login hvr-sweep-to-right"> <i class="fa fa-spinner fa-2x fa-spin hide"></i><span class="show">Inserisci</span></button>

    </div>
        </form>
        

                    <div class="row clearfix hidden-print">
                        <div class="col-md-12 column">
                            <div class="divisore-big"></div>
                            <h3>Allegati dell'articolo</h3>
<table>
                            {% if entity.allegato1 is defined and entity.allegato1!="" %}
                            <tr><td>
                               <a target="_blank"
                                   style="margin-top:10px;width:100%;float:left" href='/uploads/allegati-articoli/{{ entity.allegato1 }}'>{{ entity.allegato1 }}</a>
 <button class="btn btn-danger delete-entity" style="width:100%" data-route="/archivio/articoli/elimina-allegato/{{ entity.id }},1" type="button">Elimina
        </button></td>
</tr>
                            {% endif %}
                            {% if entity.allegato2 is defined and entity.allegato2!="" %}
                            <tr>  <td>   <a target="_blank"
                                     style="margin-top:10px;width:100%;float:left"href='/uploads/allegati-articoli/{{ entity.allegato2 }}'>{{ entity.allegato2 }}</a>
                                      <button class="btn btn-danger delete-entity" style="width:100%" data-route="/archivio/articoli/elimina-allegato/{{ entity.id }},2" type="button">Elimina
        </button></td>
</tr>
                            {% endif %}

                            {% if entity.allegato3 is defined and entity.allegato3!="" %}
                           <tr> <td>    <a target="_blank"
                                    style="margin-top:10px;width:100%;float:left" href='/uploads/allegati-articoli/{{ entity.allegato3 }}'>{{ entity.allegato3 }}</a>
                                     <button class="btn btn-danger delete-entity" style="width:100%" data-route="/archivio/articoli/elimina-allegato/{{ entity.id }},3" type="button">Elimina
        </button></td>
</tr>
                            {% endif %}

                            {% if entity.allegato4 is defined and entity.allegato4!="" %}
                           <tr>   <td>  <a target="_blank"
                                     style="margin-top:10px;width:100%;float:left"href='/uploads/allegati-articoli/{{ entity.allegato4 }}'>{{ entity.allegato4 }}</a>
                                      <button class="btn btn-danger delete-entity" style="width:100%" data-route="/archivio/articoli/elimina-allegato/{{ entity.id }},4" type="button">Elimina
        </button> </td>
</tr>


                    {% endif %}
                    </table>
                     <div id="response-div"></div>
                                </div>
                    </div>
                    {% if entity.gallery is defined and entity.gallery|length > 0 %}
                        <div class="row clearfix hidden-print">
                            <div class="col-md-12 column">
                            <table><tr><td>


                                <div class="divisore-big"></div>
                                <h3>Visualizza la fotogallery</h3>

                                <div class="scroll-pane-horizontal horizontal-only">
                                    <p style="width: {{ entity.gallery.foto|length*160 }}px;">
                                        {% for foto in entity.gallery.foto %}
                                              <a class='gallery' style="display:inline" rel="g1"
                                               onclick="eliminaFoto({{ foto.id }})"><img
                                                        style="display:inline" width="150" height="150"
                                                        src="/uploads/galleria_foto/{{ foto.immagine }}"></a>
                                        {% endfor %}

                                    </p>
                                </div>
     <button class="btn btn-danger delete-entity" style="width:100%" data-route="/archivio/articoli/elimina-gallery/{{ entity.id }}" type="button">Elimina fotogallery
        </button>

                            </td></tr></table>
                                <div class="divisore-big"></div>
                            </div>
                        </div>
                    {% endif %}
                    
                    
   <a href="/archivio/{{ entity.categoria.permalink }}/{{ entity.permalink }}" target="_blank"><button style="margin-top:10px" class="btn btn-danger">VEDI ARTICOLO</button></a>

        </div>

        <div class="col-md-2 column "style="padding-top:1200px" >

                            <div class="form-group" >
                                <div class="inner-addon left-addon">

                                    <input type="search" placeholder="cerca un entity..." class="form-control"
                                           id="selectArticolo" autocomplete="off">

                                           <button class="btn btn-primary settaArticoloCrud">Collega articolo</button>
                                </div>

                            </div>



                </div>

    </div>
    <!-- fine contenuto -->

</div>






<!-- Modal -->
<div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Elimina Foto</h4>

            </div>
            <div class="modal-body">
                <p style="font-size: 18px;">
                 Confermi di voler eliminare la foto dalla gallery?
                </p>

        <input type="hidden" id="idFoto" value="">


        <button class="btn btn-danger delete-entity" style="width:100%" data-route="/foto/elimina/" type="button">Elimina
        </button>


        <button class="btn btn-primary immagine-articolo" style="width:100%" data-route="/archivio/articoli/immagine-articolo/{{ entity.id }}" type="button">Imposta immagine articolo
        </button>


                <button class="btn btn-primary  hvr-sweep-to-right" onClick="$('#modalFoto').modal('hide');"
                        style="font-size: 24px;text-align:center;width:100%;margin-top:20px">Annulla
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
