{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">

{% endblock %}

    {% set base_path = path(app.request.attributes.get('_route'))|split('/') %}

    {% if base_path|length > 3 %}
        {% set base_path =  '/'~base_path[1]~'/'~base_path[3] %}

    {% else %}
        {% set base_path =  '/'~base_path[1] %}
    {% endif %}

{% block title %}{{ base_path }}{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script language="javascript">
        $(document).ready(function(){
            $('.crud table').dataTable( {"language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Italian.json",

            }});
        });
    </script>
{% endblock %}


{% block body %}

    <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>   <h1>{{ base_path }}</h1>
        </div>

    </div>


    <div class="row clearfix">
        <div class="col-md-12 column">
            <button style="margin-bottom: 30px" type="button" onclick="location.href='/archivio/articoli/crea'"
                    class="btn btn-success">Crea Nuovo
            </button>

        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-12 column crud">

            <div id="response-div"></div>
            <table class="table table-striped">

                <thead>

                <tr>
                    <th></th>
                    <th>ID</th>

                    <th>NOME</th>
                    <th>STATO</th>
                    <th>TIMESTAMP</th>

                    <th></th>

                </tr>
                </thead>

                <tbody>
                {% for entity in entities %}
                    <tr data-id="{{ entity.id }}">
                        <td><input class="eliminaCheckbox" type="checkbox" value="{{ entity.id }}" /></td>
                        <td>{{ entity.id }}</td>
                        <td><a target="_BLANK" href="/archivio/{{ entity.categoria.permalink }}/{{ entity.permalink }}">{{ entity.__toString()|raw }}</a> </td>
                        <td>{{ entity.stato }}</td>
                        <td>{{ entity.timestamp|date('d-m-Y H:i') }}</td>
                        <td>
                            <button type="button" onclick="location.href='/archivio/articoli/modifica/{{ entity.id }}'"
                                    class="btn btn-success">Modifica
                            </button>
                            <button type="button" data-route="/archivio/articoli/elimina/{{ entity.id }}"
                                    class="btn btn-danger delete-entity">Elimina
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <button class="btn btn-danger eliminaSelezionati" data-route="/archivio/articoli/elimina/">Elimina selezionati</button>

        </div>
    </div>








{% endblock %}