{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block title %}
    {{ titolo }}
{% endblock %}

{% block javascripts %}



    <script>
        function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var reader = new FileReader();

                // Closure to capture the file information.
                reader.onload = (function(theFile) {
                    return function(e) {
                        // Render thumbnail.


                        var html=$("<div class='col col-md-2'>" +
                                        "<img width='100%' src='"+e.target.result+"' >"+
                                        "<textarea name='tags[]'> </textarea>"+
                                "</div>");
                        $(".list").append(html);


                    };
                })(f);

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        document.getElementById('appbundle_galleriafoto_foto').addEventListener('change', handleFileSelect, false);
    </script>

    <script type="text/javascript" language="javascript">

        function eliminaFoto(id){
            $("#idFoto").val(id);
            $(".delete-entity").attr('data-route','/foto/elimina/'+id);
            $("#modalFoto").modal();
        }

        $(document).ready(function(){
            $(".delete-entity").click(function(){

                $("#id-"+$("#idFoto").val()).remove();

            });
        });




    </script>
{% endblock %}

{% block body %}

    <style>
        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
    </style>
    <!-- contenuto -->
<div class="row clearfix">

    <div class="col-md-12 column">
     <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>   <h1>{%   if titolo is defined %} {{ titolo }} {% endif %}</h1>
        </div>

        </div>

    </div>

    <div class="row clearfix">

        <div class="col-md-12 column crud" >




<form enctype="multipart/form-data" action="" method="post" name="appbundle_galleriafoto">
    <div id="appbundle_galleriafoto">
        <div class="form-group">

              <div class="form-group">
            <label for="appbundle_galleriafoto_nome" class="control-label">Tags Generici</label>
            <textarea class="form-control" name="appbundle_galleriafoto[tag]" id="appbundle_galleriafoto_autore" ></textarea>
            </div>

            <div class="form-group">
                <label for="appbundle_galleriafoto_nome" class="control-label">Pubblica sui social ogni:</label>
                <select name="pubblicazione">
                    <option value="0">Non pubblicare</option>
                    <option value="1">Una ogni ora</option>
                    <option value="2">Una ogni 2 ore</option>
                    <option value="3">Una ogni 3 ore</option>
                    <option value="4">Una ogni 4 ore</option>
                    <option value="5">Una ogni 5 ore</option>
                    <option value="6">Una ogni 6 ore</option>
                    <option value="12">Una ogni 12 ore</option>
                    <option value="24">Una ogni 24 ore</option>
                </select>
            </div>


            <div class="form-group">


              <div class="form-group">
               {% if gallery is not defined %}
                    <label for="appbundle_galleriafoto_foto" class="control-label required">Foto</label>
                          {% else %}
                                      <label for="appbundle_galleriafoto_foto" class="control-label required">Aggiungi Foto</label>

                  {% endif %}
                    <input type="file" multiple="multiple" class=" with-preview" name="appbundle_galleriafoto[foto][]" id="appbundle_galleriafoto_foto">

              </div>
                </div>
                <div class="row list">


                </div>

                {% if fotos is defined %}
                 <div class="row clearfix hidden-print">
                            <div class="col-md-12 column">
                                <div class="divisore-big"></div>

                                <div class="scroll-pane-horizontal horizontal-only">
                                    <p style="width: {{ fotos|length*160 }}px;">
                                        {% for foto in fotos %}
                                            <a class='gallery' style="display:inline" rel="g1"
                                               onclick="eliminaFoto({{ foto.id }})"><img
                                                        style="display:inline" width="150" height="150"
                                                        src="/uploads/galleria_foto/{{ foto.immagine }}"></a>

                                        {% endfor %}

                                    </p>
                                </div>


                                <div class="divisore-big"></div>
                            </div>
                        </div>
                    {% endif %}

  <div>
                    <button id="appbundle_galleriafoto_submit" class="btn btn-default login hvr-sweep-to-right" type="submit" name="submit">
                        <i class="fa fa-spinner fa-2x fa-spin hide"></i>
                        <span class="show">
                        {% if gallery is defined %}
                   Modifica
                    {% else %}
                       Inserisci
                   {% endif %}
                        </span>
                    </button>
                    <div id="response-div"></div>
                </div>
            </form>

        </div>

    </div>
    <!-- fine contenuto -->

</div>




<!-- Modal -->
<div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Elimina Foto</h4>

            </div>
            <div class="modal-body">
                <p style="font-size: 18px;">
                 Confermi di voler eliminare la foto dalla gallery?
                </p>

        <input type="hidden" id="idFoto" value="">


        <button class="btn btn-danger delete-entity" style="width:100%" data-route="/foto/elimina/" type="button">Elimina
        </button>



                <button class="btn btn-primary  hvr-sweep-to-right" onClick="$('#modalFoto').modal('hide');"
                        style="font-size: 24px;text-align:center;width:100%;margin-top:20px">Annulla
                </button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{% endblock %}
