{% extends 'base.html.twig' %}


{% block title %}Archivio Fotografico
{% endblock %}






{% block javascripts %}
    <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-lightbox.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            $(".divBackgroundImage").lazyload({
                effect : "fadeIn"
            });

            var offset = 3;
            var loading = false;
            /*  $(window).scroll(function () {
             if ($(window).scrollTop() == $(document).height() - $(window).height()) {
             */


            $(document).on('click', ".load-more", function() {
                if (loading == false) {
                    $('div#loadmoreajaxloader').show();
                    loading = true;
                    $.ajax({
                        url: "json?offset=" + offset,
                        success: function (html) {
                            if (html) {
                                $('div#loadmoreajaxloader').remove();
                                $('.load-more').remove();
                                $("#postswrapper").append(html);
                                $('.image-link').magnificPopup({type: 'image'});
                            } else {
                                $('div#loadmoreajaxloader').html('<center>Non ci sono più elementi da visualizzare.</center>');
                            }
                            offset += 3;
                            loading = false;
                        }
                    });
                }
            })  ;


            /*

             }
             });*/


        })
    </script>
{% endblock %}







{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="category">
                <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                    aria-hidden="true"></span> </a>

                <h1>Archivio Fotografico</h1>
            </div>
        </div>

    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <br>

            <p>Un archivio fotografico che vi dà la possibilità di pubblicare le immagini più belle e più spettacolari
                che avete scattato. Tutte le immagini sono a tema velistico o relativi al mare. Le immagini, una volta
                inviate, saranno verificate dallo staff di VelaForFun e solo dopo di ciò saranno aggiunte all'archivio,
                tutte quelle ritenute non consone dallo staff saranno eliminate; il giudizio dello staff è
                insindacabile.
                E' vietato inviare foto coperte da copyright, da diritti di pubblicazione di qualsiasi genere salvo non
                si abbia una specifica autorizzazione da parte dell'autore per pubblicare le sue foto su questo
                sito.</p>

            <div class="divisore-big"></div>


<form name="appbundle_galleriafoto" method="post" action="" enctype="multipart/form-data">
    <div id="appbundle_galleriafoto">
        <div class="col-md-2 column">
            <label class="control-label" for="appbundle_galleriafoto_nome">Nome</label>
            <input type="text" id="appbundle_galleriafoto_nome" name="appbundle_galleriafoto[nome]" class="form-control">
            </div>

             <div class="col-md-2 column">
            <label class="control-label" for="appbundle_galleriafoto_nome">Autore</label>
            <input type="text" id="appbundle_galleriafoto_autore" name="appbundle_galleriafoto[autore]" class="form-control">
          </div>


                        <input type="hidden" id="appbundle_galleriafoto_inGallery" name="appbundle_galleriafoto[inGallery]" value="1">


<div class="col-md-2 column">
              <div class="form-group">
                                   <label class="control-label required" for="appbundle_galleriafoto_foto">Foto</label>
                                              <input type="file" id="appbundle_galleriafoto_foto" name="appbundle_galleriafoto[foto][]" required="required" class=" with-preview" multiple="multiple">
                    </div>
                </div>
</div>


  <div>
                    <button type="submit" class="btn btn-default login hvr-sweep-to-right">
                        <i class="fa fa-spinner fa-2x fa-spin hide"></i>
                        <span class="show">
                                               Inserisci
                                           </span>
                    </button>
                    <div id="response-div"></div>
                </div>
            </form>
  <div class="col-md-3 column">
<button class="btn btn-default login hvr-sweep-to-right" style=" background: #429cbc none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: white;
    font-size: 20px;
    margin-top: 17px;
    text-transform: uppercase;
    width: auto !important;" type="submit" >Invia la tua foto
                        </button>

               </div>
<div class="col-md-12 column response">
</div>
</form>


        </div>

    </div>

    <div class="row nodi">

        <div id="postswrapper">
    {% for gallery in gallerie %}
        {% if gallery.foto|length > 0%}
        {% set copertina = gallery.foto[0].immagine %}
        {% for foto in gallery.foto %}
            {% if foto.inEvidenza == 1 %}
                {% set copertina = foto.immagine %}
            {% endif %}
        {% endfor %}


            <div class="col-md-4 column video-box" >


                <a href="/foto/{{ gallery.permalink }}">   <div class="box-home" style="height: 330px;">
                        <div style="opacity: 1;background-image: url(/uploads/galleria_foto/{{ copertina|escape('url') }});"
                             class="divBackgroundImage" data-original="/uploads/galleria_foto/{{ copertina|escape('url') }}">
                        </div>
                        <div class="content">

                            <div class="box-action">
                                <h2>{{ gallery.nome }}
                                </h2>

                                <div class="over-box">
                                    <p>
                                        Video nella galleria: {{ gallery.foto|length }}
                                    </p>
                                    <button class="btn btn-default dettagli-nodo hvr-sweep-to-right" type="submit"
                                            onclick="location.href='/foto/{{ gallery.permalink }}'">VEDI GALLERIA
                                    </button>
                                </div>

                            </div>


                        </div>

                    </div>
                </a>

            </div>

        {% endif %}
    {% endfor %}

</div>

          <!--  <div id="loadmoreajaxloader" style="display:none;">
                <center><i class="fa fa-spinner fa-2x fa-spin "></i></center>
            </div>
             <button class="btn btn-primary load-more">Carica altro</button> -->
        </div>

    <!-- fine contenuto -->

    </div>

{% endblock %}



