{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.create.layout_template %}

{%- block title -%}
	{{- 'title.topic.create' | trans({'%board_name%': board.getName }, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
	{%- spaceless -%}
	{{- parent() -}}
    {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
	{%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
	{%- spaceless -%}


        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="category">
                    <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                        aria-hidden="true"></span> </a>

                    <h1>Forum</h1>
                </div>
            </div>

        </div>

        <div class="row clearfix">

            <div class="col-md-12 column breadcrumb">

                <h1 style="display: inline;float:left;margin:0px;border:none;font-weight: bold">
                    >&nbsp;Crea nuovo topic</h1>

            </div>
        </div>


	<section class="clearfix">
		{%- form_theme form ccdn_forum_forum.topic.user.create.form_theme -%}
		<form action="{{- path('ccdn_forum_user_topic_create_process', {'forumName': forumName, 'boardId': board.id } ) -}}"
		 method="post" {{ form_enctype(form) }} class="form-horizontal" role="form" novalidate>
			<fieldset>



				{{- form_errors(form) -}}

				{{- form_row(form.Topic.board) -}}

				{{- form_row(form.Topic.title) -}}

				{{- form_rest(form) -}}

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<input type="submit" class="btn btn-primary" value="
							{{- 'form.button.topic.create' | trans({}, 'CCDNForumForumBundle') -}}
						" name="submit[post]" id="submit[post]">

					{#
						<input type="submit" class="btn" value="
							{{- 'form.button.preview' | trans({}, 'CCDNForumForumBundle') -}}
						" name="submit[preview]">
					#}

						<a class="btn btn-default" href="{{- path('ccdn_forum_user_board_show', {'forumName': forumName, 'boardId': board.id}) -}}">
							{{- 'form.button.cancel' |trans({}, 'CCDNForumForumBundle') -}}
						</a>
					</div>
				</div>

			</fieldset>
		</form>
	</section>

    {%- if preview is defined -%}
        {%- if preview is not empty -%}
            {%- include "CCDNForumForumBundle:User:Post/Partial/post_preview.html.twig" with {'post': preview} -%}
        {%- endif -%}
    {%- endif -%}

	{%- endspaceless -%}
{%- endblock body_content -%}
