{% extends 'CCDNForumForumBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_forum_forum.topic.user.show.layout_template %}

{%- block title -%}
    {{- 'title.topic.show' | trans({'%topic_title%': topic.getTitle |capitalize}, 'CCDNForumForumBundle') -}}
{%- endblock title -%}

{%- block sidebar -%}
    {%- spaceless -%}
        {{- parent() -}}
        {%- include 'CCDNForumForumBundle:Common:Layout/Sidebar/user_forum.html.twig' -%}
    {%- endspaceless -%}
{%- endblock sidebar -%}

{%- block body_content -%}
    {%- spaceless -%}


        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="category">
                    <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                        aria-hidden="true"></span> </a>

                    <h1>Forum</h1>
                </div>
            </div>

        </div>


        <div class="row clearfix">

            <div class="col-md-12 column">
                <h3 style="color:rgb(153,153,153);display: inline;float:left;padding: 7px;font-size: 30px;padding-left:0px">Boards </h3>

                <h3 style="color:rgb(153,153,153);display: inline;float:left;padding: 7px;font-size: 30px;">
                    >&nbsp;{{- topic.board.name -}}</h3>

                <h1 style="display: inline;float:left;margin:0px;border:none;font-size: 30px;font-weight: bold">
                    >&nbsp;{{- topic.getTitle |capitalize -}}</h1>

            </div>
        </div>

        {%- include "CCDNForumForumBundle:User:Topic/Partial/stat_vitals.html.twig" -%}

        {%- if topic.isDeleted or topic.isClosed or topic.isSticky -%}
            {%- include "CCDNForumForumBundle:User:Topic/Partial/stat_mods.html.twig" -%}
        {%- endif -%}

        {{- knp_pagination_render(pager) -}}

<div class="row clearfix" style="margin-top:20px">
            {%- for key, post in pager.getItems() -%}
                {%- include "CCDNForumForumBundle:User:Post/Partial/item_post.html.twig" -%}
            {%- endfor -%}

        </div>
        <div class="row clearfix btn-toolbar">

            {%- include 'CCDNForumForumBundle:User:Topic/Partial/topic_actions.html.twig' -%}
        </div>
        {{- knp_pagination_render(pager) -}}

    {%- endspaceless -%}
{%- endblock body_content -%}
