{% extends 'base.html.twig' %}



{% block javascripts %}
    <script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
    <script src="{{ asset('bundles/app/js/bootstrap-lightbox.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('.link-video').click(function () {
                var src = $(this).attr("data-video");
                $(".embed-responsive").html('<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+src+'?VQ=HD720" ></iframe>');

                $('#modalVideo').modal('show');
            });

            $('#modalVideo button').click(function () {
                $('iframe').attr('src', '');
                $(".embed-responsive").html();
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .modal.fade .modal-dialog {
            -webkit-transform: translate(0, -25%);
            -ms-transform: translate(0, -25%);
            transform: translate(0, -25%);
            -webkit-transition: -webkit-transform 0.3s ease-out;
            -moz-transition: -moz-transform 0.3s ease-out;
            -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
        }

        .modal.in .modal-dialog {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    </style>
{% endblock %}

{% block title %}{{ galleria.nome }}
{% endblock %}


{% block body %}



    <div class="row clearfix">
        <div class="col-md-12 column">
                    <div class="category">
            <a href="/video/" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Galleria Video - {{ galleria.nome }}</h1>
        </div>
        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-12 column">
          <p> </p>


            <div class="row nodi">
                <div class="scroll-pane" style="height: 460px;width:100%">
                {% for video in galleria.video %}
                {% set link = video.link|split('v=') %}
                <div class="col-md-4 column  video-box ">


                    <div class="box-home link-video"  style="height: 330px;"  data-video="{{ link[1] }}">
                        <div style="opacity: 1;background-image: url(http://img.youtube.com/vi/{{ link[1] }}/0.jpg);"
                             class="divBackgroundImage">
                        </div>
                        <div class="content">

                            <div class="box-action">
                                <h2>{{ video.nome }}
                                </h2>

                                <div class="over-box">
                                    {{ video.descrizione }}

                                    <button class="btn btn-default dettagli-nodo hvr-glow " type="submit" >GUARDA VIDEO</button>
                                </div>

                            </div>


                        </div>

                    </div>


                </div>


                {% endfor %}
                    </div>
            </div>



            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>




        <div id="modalVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">


                        <div class="embed-responsive embed-responsive-4by3">

                        </div>


                    </div>
                </div>
            </div>
        </div>


{% endblock %}



