{% extends 'base.html.twig' %}
    {% block body %}



<div class="row clearfix">
            <div class="col-md-12 column">

                <div class="category">
                    <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                        aria-hidden="true"></span> </a>

                    <h1>{{ 'header.connecting' | trans({}, 'HWIOAuthBundle') }}</h1>
                </div>
            </div>

        </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column"  id="content-articolo">

   <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h2>Collega il tuo account Facebook</h2>

                        <div class="divisore-big"></div>

                    </div>
                </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="body-content" style="min-height: 10px;margin-bottom: 10px">




   <div class="span6">
                            <p>{{ 'connect.confirm.text' | trans({'%service%': service | trans({}, 'HWIOAuthBundle'), '%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>

                            <p>

                            <form action="{{ path('hwi_oauth_connect_service', {'service': service, 'key': key}) }}" {{ form_enctype(form) }}
                                  method="POST" class="fos_user_registration_register">
                                {{ form_widget(form) }}
                                <div>
                                    <button type="submit"
                                            class="btn btn-primary">COLLEGA IL TUO ACCOUNT</button>
                                    <a href="{{ path('hwi_oauth_connect') }}"
                                       class="btn">{{ 'connect.confirm.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                                </div>
                            </form>
                            </p>
                        </div>
                        <div class="span6" id="profilePictureDiv">
                            {% if userInformation.profilePicture is defined and userInformation.profilePicture is not empty %}
        <img src="{{ userInformation.profilePicture }}"/>
    {% endif %}
                        </div>


                        </div>
                    </div>
                    </div>





        </div>
        <div class="col-md-4 column">



        </div>
    </div>

    </div>
    <!-- fine contenuto -->

</div>





    {% endblock %}


