{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block title %}Registrati{% endblock %}


{% block javascripts %}
<script language="javascript">
    $(document).ready(function(){
    if($("#profilePicture").length>0){
        $("#fos_user_registration_form_profilePictureFile").replaceWith($("#profilePictureDiv"));
    }
        $("#fos_user_registration_form_cognome").val("{{ userInformation.response['last_name'] }}");
        $("#fos_user_registration_form_nome").val("{{ userInformation.response['first_name'] }}");
    });
</script>
{% endblock %}
    {% block body %}


<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h1>
        </div>
        </div>
    </div>

    <!-- contenuto -->

    <div class="row clearfix" id="content-articolo">
        <div class="col-md-8 column"  id="body-content" >
 <div class="span6">
            <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="hwi_oauth_registration_register">
                {{ form_widget(form) }}
                <div>

                  <input type="submit" class="btn btn-default login hvr-sweep-to-right"  value="Registrati" />
                    <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                </div>
             {% if userInformation.profilePicture is not empty %}
        <div class="span6" id="profilePictureDiv">
        <img src="{{ userInformation.profilePicture }}"/>
        <input type="hidden" value="{{ userInformation.profilePicture }}" name="picture" id="profilePicture"/>
        </div>
    {% else %}

    {% endif %}

            </form>
        </div>

        <div class="span6">

        </div>


        </div>


        <div class="col-md-4 column" id="colonnaPorto">


            <div class="row clearfix">

                <div class="col-md-12 column">




                </div>
            </div>

    <div class="row clearfix">

         <div class="col-md-12 column">

           <div class="content">


                     </div>

                     </div>
        </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>





    {% endblock %}







