{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
 {% endblock %}



{% block javascripts %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <script language="javascript">
        $(document).ready(function () {


            // Provide your access token
            L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN0aWFuMTQ4OCIsImEiOiJZaldjZlM0In0.hXiRMyyCDLdQZUrqXF2eNw';
            // Create a map in the div #map
            var map = L.mapbox.map('map', 'christian1488.m5b7ic2b');
            var myLayer = null;
            // Build a marker from a simple GeoJSON object:
            var arrayPorti = new Array();

            {% for porto in porti %}

            var arrayPorto = {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        {{ porto.getLongitudine() }},
                        {{ porto.getLatitudine() }}
                    ]
                },
                "properties": {
                    "title": "{{ porto.getNome() }}",
                    "description": "",
                    "marker-color": "#429CBC",
                    "marker-size": "medium",
                    "marker-symbol": "harbor"
                },
                "id": {{ porto.getId() }}
            };

            arrayPorti.push(arrayPorto);

            {% endfor %}

            myLayer = L.mapbox.featureLayer(arrayPorti).addTo(map);


            myLayer.on('click', function (e) {
                var marker = e.layer;
                feature = marker.feature;
                var id = feature.id;

                $.ajax({
                    url: "/porti/" + id + "/jsondata",
                    dataType: "json",
                    success: function (response) {
                        $("#loading-porto").show();
                        $(".porto-title").css("opacity", "0.5");
                        $(".porto-content").css("opacity", "0.5");

                        //SET CONTENUTO DEL PORTO

                        $("#porto-temperatura").html(parseInt(response.meteo.main.temp) + "°");
                        $("#loading-porto").hide();
                        $(".porto-title").css("opacity", "1");
                        $(".porto-content").css("opacity", "1");

                    }
                });

            });


            myLayer.on('ready', function (e) {
                map.fitBounds(myLayer.getBounds());

                myLayer.eachLayer(function (layer) {
                    var item = markerList.appendChild(document.createElement('li'));
                    item.innerHTML = layer.toGeoJSON().properties.title;
                    item.onclick = function () {
                        L.mapbox.setView(layer.getLatLng(), 14);
                        layer.openPopup();
                    };
                });
            });

// This uses the HTML5 geolocation API, which is available on
// most mobile browsers and modern browsers, but not in Internet Explorer
//
// See this chart of compatibility for details:
// http://caniuse.com/#feat=geolocation
            if (!navigator.geolocation) {
                geolocate.innerHTML = 'Geolocation is not available';
            } else {
                geolocate.onclick = function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    map.locate();
                };
            }

// Once we've got a position, zoom and center the map
// on it, and add a single marker.
            map.on('locationfound', function (e) {
                map.fitBounds(e.bounds);

                myLayer.setGeoJSON({
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [e.latlng.lng, e.latlng.lat]
                    },
                    properties: {
                        'title': 'Here I am!',
                        'marker-color': '#ff8888',
                        'marker-symbol': 'star'
                    }
                });

                // And hide the geolocation button
                geolocate.parentNode.removeChild(geolocate);
            });

// If the user chooses not to allow their location
// to be shared, display an error message.
            map.on('locationerror', function () {
                geolocate.innerHTML = 'Position could not be found';
            });


        });
    </script>
{% endblock %}

{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">

            <h1>{{ titolo }}</h1>

            <div id='map' style="margin-top:0px"></div>
            <input autocomplete="off" type="text" class="form-control search-ui" id="selectPorto"
                   placeholder="Inserisci il nome del porto...">

        </div>
        <div class="col-md-4 column">
            <div id="loading-porto" style="display:none"><i class="fa fa-spinner fa-pulse"></i></div>
            <div class="porto-title">
                <h1 id="porto-nome"></h1>


            </div>
            <div class="porto-content">

                <a href='#' id='geolocate' class='ui-button'>Find me</a>
                <ul id='marker-list'></ul>
                <div class="box meteo">
                    <h3>Meteo</h3>
                    <dl class="dl-horizontal">
                        <dt>Ultima rilevazione:</dt>
                        <dd>  <div id="porto-rilevazione">2 Maggio 2015</div></dd>
                        <dt>Temperatura:</dt>
                        <dd><div id="porto-temperatura"></div></dd>
                        <dt>Vento</dt>
                        <dd> <div id="porto-vento"></div></dd>
                    </dl>

                </div>

                <div class="box attracco">
                    <h3>Persone attraccate a questo porto</h3>


                    {% if porti[0].getUtenti() is empty %}
                    Non ci sono utenti attraccati in questo porto


                    {% else %}

                        <div class="scroll-pane">
                            <ul class="media-list">

                                {% for commento in porti[0].getUtenti() %}

                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img width="50" class="media-object"
                                                 src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSDAI83UZB0PDXebgMxyIn6gWTjiH8o0IYCl3qrJQlDgeQh8BRTMw"
                                                 alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Pippo Pluto</h4>
                                        Il giorno 10 Aprile 2015 - 10:30
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>

                    {% endif %}



                </div>

                <div class="box commenti">
                    <h3>Commenti su questo porto</h3>

        {% if porti[0].getCommenti is empty %}
            Non ci sono commenti per questo porto
            {% else %}
                <div class="scroll-pane">
                    <ul class="media-list">

                {% for commento in porti[0].getCommenti() %}

                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img width="50" class="media-object"
                                     src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSDAI83UZB0PDXebgMxyIn6gWTjiH8o0IYCl3qrJQlDgeQh8BRTMw"
                                     alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                            turpis.
                        </div>
                    </li>


                {% endfor %}

                </ul>
                </div>

            {% endif %}






                </div>


            </div>

        </div>
    </div>
    <!-- fine contenuto -->

</div>

{% endblock %}



