{% extends 'base.html.twig' %}

 {% block stylesheets %}
     <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
 {% endblock %}

{% block title %}
    Porto di {{ porto.nome }}
{% endblock %}

{% block javascripts %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <script language="javascript"><!--

        $(document).ready(function () {

            var marker="";
            // Provide your access token
            L.mapbox.accessToken = 'pk.eyJ1IjoiY2hyaXN0aWFuMTQ4OCIsImEiOiJZaldjZlM0In0.hXiRMyyCDLdQZUrqXF2eNw';
            // Create a map in the div #map

            var myLayer = null;
            // Build a marker from a simple GeoJSON object:
            var arrayPorti = new Array();


            var arrayPorto = {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        {{ porto.getLongitudine() }},
                        {{ porto.getLatitudine() }}
                    ]
                },
                "properties": {
                    "title": "{{ porto.getNome() }}",
                    "marker-color": "#429CBC",
                    "marker-size": "medium",
                    "marker-symbol": "harbor"
                },
                "id": {{ porto.getId() }}
            };
            var map = L.mapbox.map('map', 'christian1488.m5b7ic2b').setView([{{ porto.getLatitudine() }}, {{ porto.getLongitudine() }}], 19);
            arrayPorti.push(arrayPorto);


            myLayer = L.mapbox.featureLayer(arrayPorti).addTo(map);


// This uses the HTML5 geolocation API, which is available on
// most mobile browsers and modern browsers, but not in Internet Explorer
//
// See this chart of compatibility for details:
// http://caniuse.com/#feat=geolocation
            if (!navigator.geolocation) {
                geolocate.innerHTML = 'Geolocation is not available';
            } else {
                geolocate.onclick = function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $("#geolocate").html('<i class="fa fa-spinner fa-2x fa-spin "></i>');
                    map.locate();


                };
            }

// Once we've got a position, zoom and center the map
// on it, and add a single marker.
            map.on('locationfound', function (e) {
                $("#geolocate").html('<i style="" class="fa fa-crosshairs "></i>Localizzami');


                if(marker!=""){
                    map.removeLayer(marker);
                }

                marker = L.marker([e.latlng.lat, e.latlng.lng]);
                marker.setIcon(L.mapbox.marker.icon({
                    'marker-color': '#ff8888',
                    'marker-symbol': 'star',
                    'marker-size': 'medium'
                }));


                map.setView([ e.latlng.lat,  e.latlng.lng ], 8);


                marker.addTo(map);






            });

// If the user chooses not to allow their location
// to be shared, display an error message.
            map.on('locationerror', function () {
                geolocate.innerHTML = 'Position could not be found';
            });


            $("#attracca,.attracco button[type=submit]").click(function () {
                var button = $(this);
                $("button").attr("disabled", "disabled");


                {% if app.user is not defined %}

                $("#login-dialog").modal();

                {% else %}

                $.ajax({
                    type: "POST",
                    url: $(this).attr('data-route'),
                    success: function (response) {
                        if (response.response == true) {

                            $("#attracco-dialog").modal();

                        } else {


                        }
                        $("button").removeAttr("disabled");
                        location.href='';
                    }
                });


                {% endif %}


            });

            $("button").removeAttr("disabled");
        });
        //--></script>
{% endblock %}

{% block body %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="category">
                <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered"
                                                                    aria-hidden="true"></span> </a>

                <h1>Porto di {{ porto.nome }}</h1>
            </div>

        </div>
    </div>
    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="container-mappa">

                        <div class="row clearfix" style="margin-bottom:10px !important">
                            <div class="col-md-6 col-xs-12 column text-left">
                                <button class="localizzami hvr-glow left" id='geolocate'><i style=""
                                                                                            class="fa fa-crosshairs"></i>Localizzami
                                </button>
                            </div>
                            <div class="col-md-6 col-xs-12 column text-right">
                                <button class="checkin  hvr-glow right" id='attracca'
                                        data-route="/porti/{{ porto.id }}/attracca"><i class="fa fa-anchor"></i>
                                    Attracca
                                    qui
                                </button>
                            </div>

                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div id='map' style="margin-top:0px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="field-nuovo-commento">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <p><strong style="font-size: 20px">Scrivi un commento su questo porto</strong></p>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                {% if app.user %}
                                    <form action="/commento-porto/crea" method="post" name="appbundle_commentoporto">
                                        <div class="col-md-11 column" style="padding:0">
                                            <input type="hidden" id="appbundle_commentoporto_utente"
                                                   name="appbundle_commentoporto[utente]" value="{{ app.user.id }}"/>
                                            <input type="hidden" id="appbundle_commentoporto_porto"
                                                   name="appbundle_commentoporto[porto]" value="{{ porto.id }}"/>
                                            <input type="text" name="appbundle_commentoporto[testo]"
                                                   class="form-control"
                                                   required placeholder="Scrivi un commento...">

                                            <p style="margin-top:5px;margin-bottom: 10px">Esprimi un giudizio su questo
                                                porto:</p>
                                            <a class="btn btn-primary check"
                                               style="color:white;margin-right: 20px;cursor:pointer;    background: rgb(7, 169, 157) !important;opacity:0.7">
                                                <input style="display:none" type="radio" value="POSITIVO"
                                                       name="appbundle_commentoporto[tipoCommento]" id="radio1"
                                                       checked/>
                                                <label for="radio1"
                                                       style="display: inline;width:auto;color:white !important;cursor:pointer">
                                                    POSITIVO
                                                </label>
                                            </a>

                                            <a class="btn btn-primary check checked"
                                               style="color:white;margin-right: 20px;cursor:pointer">
                                                <input style="display:none" type="radio" value="NEUTRO"
                                                       name="appbundle_commentoporto[tipoCommento]" id="radio3"
                                                       checked/>
                                                <label for="radio3"
                                                       style="display: inline;width:auto;color:white !important;cursor:pointer">
                                                    NEUTRO

                                                </label>
                                            </a>
                                            <a class="btn btn-primary check" style="color:white;cursor:pointer;background: rgb(242, 20, 35) !important;opacity:0.7">
                                                <input style="display:none" type="radio" value="NEGATIVO"
                                                       name="appbundle_commentoporto[tipoCommento]" id="radio2"/>
                                                <label for="radio2"
                                                       style="display: inline;width:auto;color:white !important;cursor:pointer;">

                                                    NEGATIVO
                                                </label></a>
                                        </div>



                                        <div class="col-md-1 column hidden-xs" style="padding:0">
                                            <a href="#"
                                               onclick="event.preventDefault();if($('input[name=\'appbundle_commentoporto[testo]\']').val()!=''){$('form[name=appbundle_commentoporto]').submit()}else{$('input[name=\'appbundle_commentoporto[testo]\']').css('border','1px solid red');$('input[name=\'appbundle_commentoporto[testo]\']').after('<p style=\'color:red\'>Campo obbligatorio</p>')}">
                                                <i class="fa fa-sign-in show"></i>
                                                <i class="fa fa-spinner fa-2x fa-spin hide"></i>
                                            </a>
                                        </div>

                                        <div class="col-xs-12 column hidden-lg hidden-md" style="padding:0">
                                            <a href="#"
                                               onclick="event.preventDefault();if($('input[name=\'appbundle_commentoporto[testo]\']').val()!=''){$('form[name=appbundle_commentoporto]').submit()}else{$('input[name=\'appbundle_commentoporto[testo]\']').css('border','1px solid red');$('input[name=\'appbundle_commentoporto[testo]\']').after('<p style=\'color:red\'>Campo obbligatorio</p>')}">
                                                <button class="btn btn-lg btn-primary hvr-glow show" style="width:100%;margin-top:10px">Inserisci commento</button>
                                                <i class="fa fa-spinner fa-2x fa-spin hide"></i>
                                            </a>
                                        </div>


                                        <input type="hidden" class="callback" value="setNuovoCommentoPorto">
                                    </form>

                                {% else %}
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <p>Devi effettuare l'accesso per scrivere un nuovo commento:</p>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-8 column">


                                            <form action="/login_check" method="post">
                                                <div class="form-group">
                                                    <label for="username">Username:</label>
                                                    <input type="text" id="username2" name="_username" value="" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password:</label>
                                                    <input type="password" id="password2" name="_password" required="required">
                                                </div>
                                                <div class="form-group">

                                                    <input type="checkbox" id="remember_me2" name="_remember_me" value="on">
                                                    <label for="remember_me2">Ricordami</label>
                                                </div>
                                                <!--  <input type="hidden" name="_target_path" value="dettaglio_porto" />
        -->
                                                <button class="btn btn-default login hvr-glow" type="submit">Accedi</button>
                                                <a href="/resetting/request">Dimenticato la password?</a>
                                            </form>
                                        </div>

                                        <div class="col-md-4 column" style="text-align: center">

                                            Oppure
                                            <a class="btn btn-block btn-social btn-sm btn-facebook loginFacebook"
                                               href="/secure_area/connect/facebook">
                                                <i class="fa fa-facebook"></i>
                                                Accedi con Facebook
                                            </a>
                                        </div>
                                    </div>



                                {% endif %}

                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div class="response-form">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 column" id="colonnaPorto" style="padding-top: 10px;">

            <div class="row clearfix">

                <div class="col-md-12 column porto-meteo">
            <div class="over-box">
                <form name="cerca_porti" id="formCercaPorto" action="/porti/{permalink}" method="GET">
                    <div class="form-group">
                        <div class="inner-addon left-addon">
                            <a onclick="$('#formCercaPorto').submit();" href="#"><i
                                        class="fa fa-search"></i></a>
                            <input type="search" placeholder="cerca un porto..." class="form-control"
                                   id="selectPorto" autocomplete="off">
                        </div>

                    </div>


                </form>
            </div>
</div>
                </div>

            <div class="row clearfix">

                <div class="col-md-12 column porto-meteo">

                    <div class="row clearfix">

                        <div class="col-md-12 column">
                            <h1 id="porto-nome" style="padding-left:0px;">Porto di {{ porto.nome }}</h1>
                        </div>
                    </div>

                    <div class="row clearfix">

                        <div class="col-md-4 column">
                            <i class="wi {{ meteo(meteo.weather[0].icon) }}" id="meteo-icon"> </i>
                        </div>

                        <div class="col-md-8 column">
                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    <h4 id="porto-temperatura">{{ meteo.main.temp|number_format }}  <i
                                                class="wi wi-celsius"> </i></h4>
                                </div>
                                <div class="col-md-6 column">
                                    <p style="margin:0"><i class="wi wi-strong-wind"></i></p>

                                    <div id="porto-vento" style="margin-bottom: 10px;">{{ meteo.wind.speed }}km/h</div>
                                    <p style="margin:0">UMIDITA'</p>

                                    <div id="porto-umidita" style="margin-bottom: 10px;">{{ meteo.main.humidity }}%
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column" style="text-align: left">
                            <strong>Informazioni utili</strong>

                            <p>{{ porto.datiOver|raw }}</p>
                            {% if porto.postiTotale != "" %}
                                <strong>Posti totali</strong>

                                <p>{{ porto.postiTotale|raw }}</p>
                            {% endif %}
                            {% if porto.postiTransito != "" %}
                                <strong>Posti di transito</strong>

                                <p>{{ porto.postiTransito|raw }}</p>
                            {% endif %}
                        </div>

                    </div>
                </div>

            </div>


            <div class="row clearfix">
                <div class="row clearfix">
                    <div class="col-md-12 column box attracco">
                        <div class="colonna-destra" style="margin-bottom: 20px;margin-top: 20px">
                            {% if porto.getAnnunciScambioPosto() is empty %}
                                <h2>Vuoi cercare chi scambierebbe il tuo posto barca?</h2>
                                <p>Cerca tra gli annunci di chi vuole scambiare il suo posto barca e scegli in base alle
                                    tue preferenze</p>
                                <button type="submit" class="btn btn-default login hvr-glow"
                                        onclick="location.href='/annuncio-scambio-posto/cerca-annuncio'">CERCA TRA GLI
                                    ANNUNCI
                                </button>
                            {% else %}
                                <h2>{{ porto.getAnnunciScambioPosto()|length }} persone scambiano qui il suo posto
                                    barca</h2>
                                <button type="submit" class="btn btn-default login hvr-glow"
                                        onclick="location.href='/annuncio-scambio-posto/cerca-annuncio'">VISUALIZZA GLI
                                    ANNUNCI
                                </button>

                            {% endif %}

                        </div>


                    </div>
                </div>
                <div class="row clearfix">

                    <div class="col-md-12 column box attracco">
                        <h3>Chi ha attraccato qui</h3>

                        <div class="divisore-big background-celeste"></div>
                        <div style="margin-bottom: 20px;">

                            <button class="btn btn-default login hvr-glow" data-route="/porti/{{ porto.id }}/attracca" type="submit"><i class="fa fa-anchor"></i>
                                ATTRACCA NEL PORTO
                            </button>
                            {% if porto.getAttracchi() is empty %}
                                Non ci sono utenti attraccati in questo porto


                            {% else %}

                                <div class="scroll-pane" style="margin-top:15px">
                                    <ul class="media-list" id="attracchiPorto">

                                        {% for attracco in porto.getAttracchi() %}

                                            <li class="media">
                                                <div class="media-left">
                                                    <a href="#">

                                                        {% if attracco.utente.profilePicturePath == "" and attracco.utente.getFacebookId() !="" %}
                                                            <img width="50" class="media-object avatar-small"
                                                                 src="http://graph.facebook.com/{{ attracco.utente.getFacebookId() }}/picture?type=square"
                                                                 alt="avatar"/>

                                                        {% else %}

                                                            {% if attracco.utente.profilePicturePath != "" %}
                                                                <img width="50" class="media-object avatar-small"
                                                                     src="/uploads/utenti/profilo/{{ attracco.utente.profilePicturePath }}"
                                                                     alt="avatar"/>
                                                            {% else %}
                                                                <img width="50" class="media-object avatar-small"
                                                                     src="/uploads/utenti/profilo/default_avatar.png"
                                                                     alt="avatar"/>
                                                            {% endif %}
                                                        {% endif %}


                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="/utenti/{{ attracco.utente.username }}">{{ attracco.utente.username }}</a></h4>

                                                    <p>Il giorno {{ attracco.timestamp|date("d/m/Y") }}</p>


                                                </div>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                            {% endif %}

                        </div>

                    </div>


                </div>
            </div>


            <div class="row clearfix">

                <div class="row clearfix">
                    <div class="col-md-12 column box commento">
                        <h3>Commenti sul porto</h3>

                        <div class="divisore-big background-celeste"></div>

                        {% if porto.getCommenti is empty %}
                            <div class="no-commento">Non ci sono commenti per questo porto</div>
                        {% else %}
                            <div class="scroll-pane">
                                <ul class="media-list" id="commentiPorto">

                                    {% for commento in porto.getCommenti() %}

                                        <li class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    {% if commento.utente.profilePicturePath == "" and commento.utente.getFacebookId() !="" %}
                                                        <img width="50" class="media-object avatar-small"
                                                             src="http://graph.facebook.com/{{ commento.utente.getFacebookId() }}/picture?type=square"
                                                             alt="avatar"/>
                                                    {% else %}

                                                        {% if commento.utente.profilePicturePath != "" %}
                                                            <img width="50" class="media-object avatar-small"
                                                                 src="/uploads/utenti/profilo/{{ commento.utente.profilePicturePath }}"
                                                                 alt="avatar"/>
                                                        {% else %}
                                                            <img width="50" class="media-object avatar-small"
                                                                 src="/uploads/utenti/profilo/default_avatar.png"
                                                                 alt="avatar"/>
                                                        {% endif %}




                                                    {% endif %}

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="/utenti/{{ attracco.utente.username }}">{{ commento.utente.username }}</a></h4>

                                                <p>{% if commento.tipoCommento == "POSITIVO" %}
                                                        <i class="fa fa-thumbs-up foreground-verde"></i>
                                                    {% endif %}

                                                    {% if commento.tipoCommento == "NEGATIVO" %}
                                                        <i class="fa fa-thumbs-down foreground-rosso"></i>
                                                    {% endif %}

                                                    {% if commento.tipoCommento == "NEUTRO" %}
                                                        <i class="fa fa-pause fa-rotate-90 foreground-grigio"></i>
                                                    {% endif %} - {{ commento.testo }}</p>

                                                <p style="font-size: 12px">Inserito
                                                    il {{ commento.timestamp|date("d/m/Y H:i") }}</p>
                                            </div>
                                        </li>


                                    {% endfor %}

                                </ul>
                            </div>

                        {% endif %}


                    </div>
                </div>


            </div>
            <!-- fine contenuto -->
        </div>


        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="divisore-big"></div>
            </div>
        </div>


    </div>




    <div class="modal fade" id="attracco-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Attracco nel porto di {{ porto.nome }}</h4>
                </div>
                <div class="modal-body" style="min-height:10px ">
                    <p>Il tuo attracco nel porto di {{ porto.nome }} è stato registrato con successo!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="modal fade" id="login-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}



