{% extends 'base.html.twig' %}

{% block title %}Codice Internazionale Velico{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.morse.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {

            var morse = null;
            $(".traduci").click(function () {
                $('.content-traduzione').fadeIn().slideDown();
                $('.traduci').addClass('hidden');


                $(".codice-morse-result").html($("#testo").val());
                var morse = $(".codice-morse-result").morseCode({bpm: 12});
                //  morse.emit;
            });

            $(".ascolta").click(function () {
                $(".codice-morse-result").trigger("morse.emit");
            });

            $(".stop").click(function () {
                $("#morse-code-output").remove();
            });
            {% if k is defined and k!="" %}
            $(".codice-morse-result").html($("#testo").val());
            var morse = $(".codice-morse-result").morseCode({bpm: 12});
            {% endif %}
        });
    </script>
{% endblock %}


{% block body %}


    <!-- contenuto -->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="category">
                <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>Codice internazionale Velico</h1>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
                        <thead>
                        <td>Bandiera</td>
                        <td style="width: 150px;">Linguaggio morse</td>
                        <td>Significato</td>
                        </thead>
                        <tbody>
                        {% for segnale in segnali %}
                            <tr>
                                <td>
                                    <div class="content-table">
                                        <div class="row clearfix">
                                            <div class="col-md-12 col-xs-12 column">
                                                <img src="/images/bandiere/{{ segnale.lettera|lower }}.gif">

                                            </div>

                                            <div class="col-md-12 col-xs-12 column">
                                                <h4>{{ segnale.parola }}</h4>
                                            </div>

                                        </div>


                                    </div>

                                </td>
                                <td>
                                    <div class="content-table">
                                        <div class="row clearfix">
                                            <div class="col-md-12 col-xs-12 column">
                                                <p class="codice-morse">{{ segnale.morse }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row clearfix">
                                        <div class="col-md-12 col-xs-12 column">
                                            <p> {{ segnale.valore }}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

        <div class="col-md-4 column ">
            <div class="row clearfix">


                <div class="row clearfix">
                    <div class="col-md-12 column">

                        <div class="colonna-destra" style="margin-bottom: 20px">
                            <h2>CosՏ il Dizionario velico</h2>

                            <p> Inserisci la frase da codificare nel codice internazionale dei seg-nali e nel codice
                                morse,
                                basta un'attimo per avere il risultato!
                            </p>


                        </div>

                    </div>


                </div>


                <div class="row clearfix">

                    <div class="col-md-12 column">

                        <div class="colonna-destra" style="margin-bottom: 20px">


                            <div class="col-md-12 column">


                                <div class="form-group">
    <textarea class="form-control" id="testo">{{ k }}</textarea>
                                </div>


                            </div>


                            <div class="col-md-12 col-xs-12 column">
                                <button class="localizzami hvr-glow left traduci background-celeste {% if k !="" %}hidden{% endif %}"
                                        id='geolocate' style="width:100%"><i style=""
                                                                             class="fa fa-refresh"></i>Traduci
                                </button>

                            </div>


                            <div class="content-traduzione {% if k =="" %}hidden{% endif %}">


                                <div class="col-md-12 col-xs-12 column">
                                    <p class="codice-morse-result"></p>

                                </div>


                                <div class="col-md-12 col-xs-12 column">
                                    <div class="row clearfix">
                                        <div class="col-md-6 col-xs-6 column">
                                            <i class="fa fa-play ascolta"></i>
                                        </div>
                                        <div class="col-md-6 col-xs-6 column">
                                            <i class="fa fa-stop stop"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-xs-12 column">
                                    <button class="btn btn-default login hvr-glow"
                                            onclick="$('.content-traduzione').fadeOut();$('.traduci').removeClass('hidden')">
                                        TRADUCI NUOVA FRASE
                                    </button>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- fine contenuto -->

    </div>

{% endblock %}



