{% extends 'base.html.twig' %}



{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery.morse.js') }}"></script>
    <script language="JavaScript">
        $(document).ready(function () {
            var morse = null;
            $(".traduci").click(function () {
                $(".codice-morse").html($("#testo").val());
                var morse = $(".codice-morse").morseCode({bpm: 12});
                //  morse.emit;
            });

            $(".ascolta").click(function () {
                $(".codice-morse").trigger("morse.emit");
            });
        });
    </script>
{% endblock %}


{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h1>Codice Internazionale</h1>
                </div>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-striped">
                        <thead>
                        <td>Bandiera</td>
                        <td style="width: 150px;">Linguaggio morse</td>
                        <td>Significato</td>
                        </thead>
                        <tbody>
                        {% for segnale in segnali %}
                            <tr>
                                <td>
                                    <div class="content-table">
                                        <img src="/images/bandiere/{{ segnale.lettera|lower }}.gif">
                                        <h4>{{ segnale.parola }}</h4>
                                    </div>

                                </td>
                                <td>
                                    <div class="content-table">
                                       <p class="codice-morse">{{ segnale.morse }}</p>
                                    </div>
                                </td>
                                <td>

                                        <p> {{ segnale.valore }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
        <div class="col-md-4 column">

            <div class="form-group">
                <label for="testo">Inserisci il testo</label>
    <textarea class="form-control" id="testo">
    </textarea>
            </div>
            <button type="submit" class="btn btn-default traduci">Traduci</button>
            <blockquote>
                <p class="codice-morse"></p>
            </blockquote>
            <button class="ascolta">Ascolta</button>
        </div>

        <!-- fine contenuto -->

    </div>

{% endblock %}



