{%- spaceless -%}

    {%- macro class(post, topic) -%}

    {%- if post.isDeleted == true -%}
        panel-danger
    {%- else -%}
        {%- if post.id and post.topic -%}
            {%- if post.topic.firstPost -%}
                {%- if post.topic.firstPost.id == post.id -%}
                    panel-primary
                {%- else -%}
                    panel-default
                {%- endif -%}
            {%- else -%}
                panel-default
            {%- endif -%}
        {%- else -%}
            panel-default
        {%- endif -%}
    {% endif %}

{%- endmacro -%}

    {%- import _self as post_panel -%}
    {%- set panel = post_panel.class(post, post.topic) -%}
    <div class="col-md-12">
        <div class="row clearfix {{ panel }} post-forum" {%- if post.id %} id="{{- post.getBody |slice(0,24) -}}"{% endif %}">
            <div class="col-md-10">
                <div class="row clearfix">
                    <div class="col-md-12">
                        {%- include 'CCDNForumForumBundle:User:Post/Partial/item_post_head.html.twig' with {'post': post } -%}
                    </div>
                    <div class="col-md-12">
                        {%- include 'CCDNForumForumBundle:User:Post/Partial/item_post_body.html.twig' with {'post': post } -%}
                    </div>
                    <div class="col-md-12">
                        <div class="divisore-big"></div>
                    </div>
                    <div class="col-md-12">
{{ post.getCreatedBy.firma|replace({'[B]': '<strong>', '[/B]': "</strong>","[I]":"<italic>","[/I]":"</italic>","[COLOR=green]":"<font style='color:green'>","[/COLOR]":"</font>"})|raw }}
                    </div>
                </div>

            </div>
            <div class="col-md-2" style="border-left: 1px solid rgb(66, 156, 188);">
                <div class="row clearfix">


                    <div class="col-md-6 col-md-offset-3 avatar-post">
                        {% if post.getCreatedBy.profilePicturePath is defined and post.getCreatedBy.profilePicturePath == "" and post.getCreatedBy.getFacebookId() !="" %}
    <img class="avatar-small"
         src="http://graph.facebook.com/{{ post.getCreatedBy.getFacebookId() }}/picture?type=square"
         alt="avatar"/>

{% else %}

    {% if post.getCreatedBy.profilePicturePath is defined and post.getCreatedBy.profilePicturePath != "" %}
        <img class="avatar-small"
             src="/uploads/utenti/profilo/{{ post.getCreatedBy.profilePicturePath }}"
             alt="avatar"/>
    {% else %}
        <img class="avatar-small"
             src="/uploads/utenti/profilo/default_avatar.png"
             alt="avatar"/>
    {% endif %}
{% endif %}
                    </div>
                    <div class="col-md-12">
                        <span class="username foreground-celeste" > <strong>{{ post.getCreatedBy.username }}</strong></span>
                    </div>
                    <div class="col-md-12" style="text-align:center">
                        {{ getRuolo(post.getCreatedBy) }}
                    </div>
                    <div class="col-md-8 col-md-offset-2" >
                       <div class="divisore-big background-celeste"></div>
                    </div>
                    <div class="col-md-12" style="text-align:center">
                        {{ post.getCreatedBy.messaggi|length }} Messaggi<br>
                        Iscritto il {{ post.getCreatedBy.timestamp|date("d-m-Y") }}
                        {% if post.getCreatedBy.porto is defined and post.getCreatedBy.porto.nome is defined %}
                           <br>Attraccato a {{ post.getCreatedBy.porto.nome }}
                        {% endif %}
                        <br>
                    </div>

                </div>

            </div>
        </div>



    </div>

{%- endspaceless -%}
