{% extends 'base.html.twig' %}

{% block title %}
    Annunci scambio posto barca
{% endblock %}





{% block javascripts %}
    <script language="javascript">
        $(document).ready(function () {
            $('.notifiche').click(function () {
                $('#modalVideo').modal('show');
            });
        });
    </script>
{% endblock %}




{% block body %}


    <!-- contenuto -->

    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="category">
            <a href="#" id="back-link" class="back-link"> <span class="glyphicon glyphicon-menu-left bordered" aria-hidden="true"></span>  </a>  <h1>{{ titolo }}</h1>
        </div>
    </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">

           <table class="table table-striped table-hover">
      <thead>
        <tr>
        <th>Titolo</th>
          <th  align="center" class="center" style="width:60px;">Inserito il</th>
          <th  align="center" class="center" style="width:60px;"><i class="fa fa-reply"></i></th>
          <th  align="center" class="center" style="width:60px;"><i class="fa fa-eye"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for annuncio in annunci %}
    <tr>
        <td>{{ annuncio.topic.title }}</td>
        <td  align="center" class="center"style="width: 100px;padding:10px 0px 10px 0px !important;"><div class="td-boarded"> {{ annuncio.timestamp|date("d/m/Y H:i") }}</div></td>
        <td   align="center" class="center" style="width: 100px;padding:10px 0px 10px 0px !important;"><div class="td-boarded"><span title="{{ annuncio.topic.getCachedReplyCount() }}" class="label label-info lead">{{ annuncio.topic.getCachedReplyCount() }}</span></div></td>
        <td   align="center" class="center" style="width: 100px;padding:10px 0px 10px 0px !important;"><div class="td-boarded"><span title="{{ annuncio.topic.getCachedViewCount() }}" class="label label-info lead">{{ annuncio.topic.getCachedViewCount() }}</span></div></td>
        <td align="center" class="center" style="padding:10px 0px 10px 0px !important;width:150px;">  <div class="td-boarded" style="padding-left: 5px">   <button  style="margin-top: 10px;" type="button" class="btn btn-primary hvr-glow"
                                                                            onclick="location.href='/forum/velaforfun/topic/{{ annuncio.topic.id }}'">
                    Leggi Annuncio
                </button></div></td>
    </tr>
      {% endfor %}


      </tbody>
    </table>


        </div>
        <div class="col-md-4 column">
            <div class="content">
            <div class="colonna-destra" style="margin-bottom: 20px">
                           <h2>E' ora di cambiare mare... scambia il tuo posto barca!</h2>
                             <p>Crea il tuo annuncio gratuitamente e verrai contattato da chi è interessato a scambiare il tuo posto barca in base alle tue preferenze</p>
                        <button type="submit" class="btn btn-default login hvr-glow" onclick="location.href='nuovo-annuncio'">CREA ORA IL TUO ANNUNCIO</button>

        </div>



<div class="colonna-destra" style="margin-bottom: 20px">
                           <h2 class="foreground-verde">Vuoi cercare chi scambierebbe il suo posto barca?</h2>
                             <p>Cerca tra gli annunci di chi vuole scambiare il suo posto barca e scegli in base alle tue preferenze</p>
           <button type="submit" class="btn btn-default login hvr-glow background-verde" onclick="location.href='cerca-annuncio'">CERCA TRA GLI ANNUNCI</button>


        </div>




   <div class="colonna-destra" style="margin-bottom: 20px">
                    <h2 class="foreground-verde">Vuoi ricevere notifiche?</h2>
                    <p>Se sei alla ricerca di un posto, ricevi una mail per gli annunci compatibili con le tue preferenze</p>
                    <button type="submit" class="btn btn-default login hvr-glow background-verde notifiche" >RICEVI LE NOTIFICHE</button>


                </div>



            </div>





        </div>
    </div>
    <!-- fine contenuto -->

</div>












    <div id="modalVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% if app.user %}

    <form action="cerca-annuncio" method="post" name="appbundle_annuncioscambioposto">
        <div id="appbundle_annuncioscambioposto">
            <input type="hidden"  name="appbundle_annuncioscambioposto[telefono]" />
            <div class="form-group">
                <label for="appbundle_annuncioscambioposto_luogoAttuale" class="control-label required">Dove hai la barca adesso?</label>
                <select class="form-control" name="appbundle_annuncioscambioposto[luogoAttuale]" id="appbundle_annuncioscambioposto_luogoAttuale">
                    <optgroup label="Campania">
                        <option value="126">Acciaroli</option>
                        <option value="92">Acquamorta</option>
                        <option value="125">Agnone San Nicola</option>
                        <option value="123">Agropoli</option>
                        <option value="118">Amalfi</option>
                        <option value="114">Casamicciola I. d'Ischia</option>
                        <option value="105">Castellammare di Stabia - Porto Davide</option>
                        <option value="120">Cetara</option>
                        <option value="112">Chiaiolella I. di Procida</option>
                        <option value="91">Darsena San Bartolomeo</option>
                        <option value="115">Forio I. d'Ischia</option>
                        <option value="119">Maiori</option>
                        <option value="110">Marina della Lobra</option>
                        <option value="129">Marina di Camerota</option>
                        <option value="127">Marina di Casal Velino</option>
                        <option value="107">Marina di Equa</option>
                        <option value="93">Marina di Maglietta</option>
                        <option value="128">Marina di Pisciotta</option>
                        <option value="111">Marina di Procida I. di Procida</option>
                        <option value="104">Marina di Stabia</option>
                        <option value="106">Marina di Vico Equense</option>
                        <option value="117">Marina Grande I. di Capri</option>
                        <option value="122">Masuccio Salernitano</option>
                        <option value="97">Mergellina Napoli</option>
                        <option value="99">Molosiglio Napoli</option>
                        <option value="101">Napoli Porto</option>
                        <option value="95">Nisida</option>
                        <option value="100">Portici</option>
                        <option value="113">Porto D'Ischia I. d'Ischia</option>
                        <option value="130">Porto Scario</option>
                        <option value="96">Posillipo Napoli</option>
                        <option value="94">Pozzuoli</option>
                        <option value="121">Salerno</option>
                        <option value="124">San Marco di Castellabate</option>
                        <option value="116">Sant'Angelo I. d'Ischia</option>
                        <option value="98">Santa Lucia Napoli</option>
                        <option value="109">Sorrento Marina Grande</option>
                        <option value="108">Sorrento Marina Piccola</option>
                        <option value="103">Torre Annunziata</option>
                        <option value="102">Torre del Greco</option>
                    </optgroup>
                    <optgroup label="Liguria">
                        <option value="30">Alassio</option>
                        <option value="22">Arenzano</option>
                        <option value="38">Arma di Taggia</option>
                        <option value="20">Bocca di Magra/Sarzana Marina</option>
                        <option value="41">Bordighera</option>
                        <option value="6">Camogli</option>
                        <option value="40">Capo Pino</option>
                        <option value="24">Celle Ligure</option>
                        <option value="10">Chiavari</option>
                        <option value="33">Diano Marina</option>
                        <option value="27">Finale Ligure</option>
                        <option value="34">Imperia Oneglia</option>
                        <option value="35">Imperia Porto Maurizio</option>
                        <option value="29">Isola della Gallinara</option>
                        <option value="11">Lavagna</option>
                        <option value="16">Le Grazie</option>
                        <option value="19">Lerici</option>
                        <option value="13">Levanto</option>
                        <option value="28">Loano - Porto Bello</option>
                        <option value="37">Marina degli Aregai</option>
                        <option value="17">Marina del Fezzano</option>
                        <option value="31">Marina di Andora</option>
                        <option value="21">Marina di Porto Antico Genova</option>
                        <option value="3">Marina Molo Vecchio Genova</option>
                        <option value="4">Nervi</option>
                        <option value="18">Porto Lotti La Spezia</option>
                        <option value="7">Portofino</option>
                        <option value="15">Portovenere</option>
                        <option value="9">Rapallo - Carlo Riva</option>
                        <option value="5">Recco</option>
                        <option value="32">San Bartolomeo al Mare</option>
                        <option value="36">San Lorenzo al Mare</option>
                        <option value="39">San Remo Portosole</option>
                        <option value="8">Santa Margherita Ligure</option>
                        <option value="25">Savona</option>
                        <option value="12">Sestri Levante</option>
                        <option value="2">Sestri Ponente</option>
                        <option value="26">Vado Ligure</option>
                        <option value="23">Varazze</option>
                        <option value="14">Vernazza</option>
                        <option value="1">Voltri</option>
                    </optgroup>
                    <optgroup label="Toscana">
                        <option value="47">Antignano</option>
                        <option value="46">Ardenza</option>
                        <option value="68">Cala Galera</option>
                        <option value="72">Campese I. del Giglio</option>
                        <option value="73">Capraia</option>
                        <option value="48">Castel Sonnino</option>
                        <option value="50">Castiglioncello - Cala de' Medici</option>
                        <option value="65">Castiglione delle Pescaia</option>
                        <option value="59">Cavo I. d'Elba</option>
                        <option value="43">Cinquale</option>
                        <option value="57">Esaom Cesa I. d'Elba</option>
                        <option value="71">Giglio Porto I. del Giglio</option>
                        <option value="45">Livorno</option>
                        <option value="58">Magazzini I. d'Elba</option>
                        <option value="62">Marciana Marina I d'Elba</option>
                        <option value="42">Marina di Carrara</option>
                        <option value="54">Marina di Salivoli</option>
                        <option value="66">Marina di San Rocco - Grosseto</option>
                        <option value="70">Marina di Santo Stefano</option>
                        <option value="51">Marina di Vada</option>
                        <option value="55">Piombino</option>
                        <option value="61">Porto Azzurro I'Elba</option>
                        <option value="53">Porto Baratti</option>
                        <option value="69">Porto Ercole</option>
                        <option value="56">Portoferraio I. d'Elba</option>
                        <option value="64">Punta Ala</option>
                        <option value="49">Quercianella</option>
                        <option value="60">Rio Marina I d'Elba</option>
                        <option value="52">San Vincenzo</option>
                        <option value="63">Scarlino - Etrusca Marina</option>
                        <option value="67">Talamone</option>
                        <option value="44">Viareggio</option>
                    </optgroup>
                    <optgroup label="Lazio">
                        <option value="81">Anzio</option>
                        <option value="74">Civitavecchia</option>
                        <option value="78">Darsena Traiano</option>
                        <option value="79">Fiumicino Isola Sacra- Porto Romano</option>
                        <option value="88">Formia Caposele</option>
                        <option value="89">Formia Porto Nuovo</option>
                        <option value="87">Gaeta Flavio Gioia</option>
                        <option value="86">Gaeta Santa Maria</option>
                        <option value="82">Marina di Nettuno</option>
                        <option value="80">Ostia Porto Turistico di Roma</option>
                        <option value="75">Riva di Traiano</option>
                        <option value="83">San Felice Circeo</option>
                        <option value="76">Santa Marinella - Porto Odescalchi</option>
                        <option value="77">Santa Severa</option>
                        <option value="90">Scauri</option>
                        <option value="85">Sperlonga</option>
                        <option value="84">Terracina</option>
                    </optgroup>
                    <optgroup label="Calabria">
                        <option value="138">Bagnara Calabra</option>
                        <option value="145">Cariati</option>
                        <option value="134">Cetraro</option>
                        <option value="146">Corigliano Calabro</option>
                        <option value="144">Crotone</option>
                        <option value="137">Gioia Tauro</option>
                        <option value="143">Marina di Catanzaro</option>
                        <option value="147">Marina Laghi di Sabari</option>
                        <option value="140">Reggio Calabria</option>
                        <option value="142">Roccella Ionica</option>
                        <option value="141">Saline Joniche</option>
                        <option value="136">Tropea</option>
                        <option value="135">Vibo Valentia Marina</option>
                        <option value="139">Villa San Giovanni</option>
                    </optgroup>
                    <optgroup label="Puglia">
                        <option value="166">Bari</option>
                        <option value="173">Barletta</option>
                        <option value="171">Bisceglie</option>
                        <option value="160">Brindisi</option>
                        <option value="149">Campomarino Maruggio</option>
                        <option value="157">Castro Marina</option>
                        <option value="150">Gallipoli Porto Gaio</option>
                        <option value="151">Gallipoli San Giorgio</option>
                        <option value="152">Gallipoli Seno del Canneto</option>
                        <option value="169">Giovinazzo</option>
                        <option value="175">Manfredonia Porto Vecchio</option>
                        <option value="174">Margherita di Savoia</option>
                        <option value="176">Mattinata</option>
                        <option value="165">Mola di Bari</option>
                        <option value="170">Molfetta</option>
                        <option value="163">Monopoli</option>
                        <option value="158">Otranto</option>
                        <option value="167">Palese</option>
                        <option value="164">Polignano a Mare</option>
                        <option value="159">S. Foca di Melendugno</option>
                        <option value="155">Santa Maria di Leuca</option>
                        <option value="168">Santo Spirito</option>
                        <option value="162">Savelletri</option>
                        <option value="148">Taranto</option>
                        <option value="153">Torre San Giovanni d'Ugento</option>
                        <option value="154">Torre Vado</option>
                        <option value="172">Trani</option>
                        <option value="156">Tricase</option>
                        <option value="177">Vieste</option>
                        <option value="161">Villanova di Ostuni</option>
                    </optgroup>
                    <optgroup label="Basilicata">
                        <option value="133">Maratea</option>
                        <option value="131">Marina di Policastro</option>
                        <option value="132">Sapri</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label for="appbundle_annuncioscambioposto_luogoRicercato" class="control-label required">Dove cerchi un posto?</label>
                <select class="form-control" name="appbundle_annuncioscambioposto[luogoRicercato]" id="appbundle_annuncioscambioposto_luogoRicercato">
                    <option value="NORD_ITALIA_TIRRENO">Nord Italia Tirreno</option>
                    <option value="NORD_ITALIA_ADRIATICO">Nord Italia Adriatico</option>
                    <option value="CENTRO_ITALIA_TIRRENO">Centro Italia Tirreno</option>
                    <option value="CENTRO_ITALIA_ADRIATICO">Centro Italia Adriatico</option>
                    <option value="SUD_ITALIA_TIRRENO">Sud Italia Tirreno</option>
                    <option value="SUD_ITALIA_ADRIATICO">Sud Italia Adriatico</option>
                    <option value="SARDEGNA">Sardegna</option>
                    <option value="SICILIA">Sicilia</option>
                    <option value="ESTERO">Estero</option>
                </select>
            </div>
            <div class="form-group">
                <label for="appbundle_annuncioscambioposto_tipo" class="control-label required">Cosa?</label>
                <select class="form-control" name="appbundle_annuncioscambioposto[tipo]" id="appbundle_annuncioscambioposto_tipo">
                    <option value="VELA">Vela</option>
                    <option value="MOTORE">Motore</option>
                    <option value="ALTRO">Altro</option>
                </select>
            </div>
            <div class="form-group hide">                <label for="appbundle_annuncioscambioposto_tempo" class="control-label">Tempo (specifica se possibile le date e/o la durata e/o il periodo)</label><input type="text" class="form-control" name="appbundle_annuncioscambioposto[tempo]" id="appbundle_annuncioscambioposto_tempo"></div>
            <div class="form-group hide">                <label for="appbundle_annuncioscambioposto_lunghezza" class="control-label">Lunghezza (metri)</label><input type="text" class="form-control" name="appbundle_annuncioscambioposto[lunghezza]" id="appbundle_annuncioscambioposto_lunghezza"></div>
            <input type="hidden" name="appbundle_annuncioscambioposto[descrizione]" id="appbundle_annuncioscambioposto_descrizione" style="display: none;" />
        </div>   <label for="BoostCakeCheckbox"><input type="hidden" id="BoostCakeCheckbox" checked value="1" name="appbundle_annuncioscambioposto[notifica]"></label>

        <button type="submit" class="btn btn-default login hvr-glow">Cerca</button>
        <input type="hidden" class="callback" value="riceviNotifica">

    </form>
    <div class="response-form" style="display: none"></div>
{% else %}


    <div class="col-md-12 column" style="">
        <a href="/secure_area/connect/facebook"
           class="btn btn-block btn-social btn-lg btn-facebook"
           id="loginFacebook">
            <i class="fa fa-facebook"></i>
            Accedi con Facebook
        </a>
    </div>
    <div class="col-md-12 column" style="text-align:center;width:100%;">
        <div class="divisore-big"></div>

        <span style="font-size: 20px">oppure inserisci i tuoi dati di accesso</span>

        <div class="divisore-big"></div>
    </div>




    <div class="col-md-12 column" style="">
        <form method="post" action="/login_check">

            <div class="form-group">                <label for="fos_user_registration_form_username" class="control-label required">Username:</label><input type="text" class="form-control" pattern=".{2,}" maxlength="255" required="required" name="_username" id="username"></div>
            <div class="form-group">                <label for="fos_user_registration_form_plainPassword_first" class="control-label required">Password:</label><input type="password" class="form-control" required="required" name="_password" id="password"></div>

            <div class="form-group">

                <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                <label for="remember_me">Ricordami</label>
            </div>
            <input type="submit" value="Accedi" class="btn btn-default login hvr-glow">

        </form>

    </div>
{% endif %}


                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="annuncioCreato">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Annunci Scambio Posto Barca</h4>
                </div>
                <div class="modal-body" style="min-height: 10px;">
                    <p>Complimenti, il tuo annuncio è stato creato con successo!<br>
                        Riceverai una mail di notifica ogni volta che viene inserito un annuncio che rispondono alle tue preferenze!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->




{% endblock %}



